[2021-06-02 09:14] meyerrap commented on #520
Can confirm last comment.

Version 3.3.3 seems to install just fine, still. 3.3.4 is broken again

[2021-06-02 09:34] felixdivo commented on #520
I'd propose just failing forward to the next release, 4.0.0 is coming up and a dev release it already available.

[2021-06-02 10:02] felixdivo commented on #1053
As it's [just 6.6 kB](https://pypi.org/project/uptime/3.0.1/#files), we might add it as a `python-can[pcan]` addition.

[2021-06-03 13:59] lgrds opened #1063 "Cannot read any message with pcan"
**Describe the bug**
I work with vector and peak products.
I made a code to send and read messages with the vector product in Windows. It works fine.
When I moved to Linux, I used a Peak device. I am able to sends message but it is impossible to read them.
I know that the message are sent because I am connected with the vector device on the other side of the CAN with windows and I read the message

[2021-06-03 16:29] zariiii9003 commented on #1060
I fixed your code formatting. Take a look at https://python-can.readthedocs.io/en/develop/listeners.html#can.SizedRotatingLogger .
It might be what you are looking for.

[2021-06-03 17:13] zariiii9003 commented on #1046
@felixdivo can you summarize the necessary changes?

[2021-06-04 04:02] xinkunlong opened #1064 "if use default name app_name="CANalyzer", open VN1630A CAN/LIN Interface will fail"
**Describe the bug**

**The vn1630A I am using now has only two valid channels**, so when using VectorBus to only pass in the parameters channel and bitrate, the device cannot be opened because it cannot find a valid hardware type. If the parameter app_name='', then the device can be driven.

**To Reproduce**
VectorBus(channel=0,bitrate=500000)

**Expected behavior*
hw_type, hw_index, hw_channel =

[2021-06-04 06:07] GitYom commented on #1060
Hello Zari,
thanks for the formatting of the code. I used the code balise but it had not the visual effect I hope.  for the next posts, I will now how to do it.

I just had a look to the documention of the development version and the SizedRotatingLogger  seems to do what I expect. I will try it.

Thanks,

Guillaume

[2021-06-04 06:30] zariiii9003 commented on #1064
Did you assign the app_name to the channel in Vector Hardware Config?

[2021-06-04 07:04] xinkunlong commented on #1064
No, I did not.
Pseudocode:
    if  call VectorBus(channel=0,bitrate=500000)
    hw_type will equel 0,
    then idx = -1,
    so the device can not  be driven.

    if call VectorBus(channel=0,bitrate=500000,**app_name=''**),
    the device can be driven.

[2021-06-04 07:06] zariiii9003 commented on #1064
Well you have to.

[2021-06-04 09:19] #1063 closed

[2021-06-05 10:07] tiger86023086 opened #1065 "pyhton-can 4.0 cannot initialize PCAN-USB"
Python version is 3.7.9
My code is:

[code]

When I run it ,the error report:

[code]
I find in pcan.py:
 result = self.m_objPCANBasic.SetValue(
            self.m_PcanHandle, PCAN_ALLOW_ERROR_FRAMES, PCAN_PARAMETER_ON
        )

        if result != PCAN_ERROR_OK:
            raise PcanError(self._get_formatted_error(result))

The error is located at:
   result = self.m_objPCANBasic.SetValue(

[2021-06-05 15:59] sakthikappu opened #1066 "How to send multiple CAN/CANFD frames using Socket-can in python using can.message class"
I would like send multiple message (10000 canfd frames with variouse arbitration id )  in single can.send() api call.
How to construct the multiple frames using can.message class.

In the below example , single msg is formed and send via bus.send(msg)
  msg = can.Message(arbitration_id=0xc0ffee,
                      data=[0, 25, 0, 1, 3, 1, 4, 1],
                      is_extended_id=True)

    t

[2021-06-05 21:44] felixdivo commented on #912
Sorry, but it seems like we can't help you here. If you still think this is an issue with python-can, please comment again or open a new issue.

[2021-06-05 22:15] felixdivo commented on #1046
Sure: #1025 added subclass exceptions to `can.CanError`, which should now be used by the interfaces. One should go trough the interfaces one by one and replace any use of `can.CanError` by some more specific exception type (where applicable).

Does that help? :) If you want to help, just add your name or some PR link to the list above. I'll tackle this the coming week.

[2021-06-05 22:28] felixdivo commented on #1066
[You can only send a single frame at a time with the current API.](https://python-can.readthedocs.io/en/develop/bus.html#can.BusABC.send_periodic) You have to loop over the messages that you generate and `bus.send(...)` them individually. If you want to send stuff periodically, there are other options (e.g. see [here](https://github.com/hardbyte/python-can/blob/develop/examples/cyclic.py)).

[2021-06-05 22:28] #1066 closed

[2021-06-05 22:30] felixdivo commented on #1058
cc @christiansandberg

[2021-06-05 22:32] felixdivo commented on #935
I'm closing this for now since I don't see what we should change here.

[2021-06-05 22:35] felixdivo commented on #941
Well, your code should only receive a single message and exit. You call `receive_one()` only once.

Does some problem occur with the above code?

[2021-06-05 22:37] #1047 closed

[2021-06-05 22:37] #1050 closed

[2021-06-06 04:55] christiansandberg commented on #935
Maybe we could use [importlib](https://docs.python.org/3/library/importlib.metadata.html#entry-points) instead. It is for 3.8 and newer only so a fallback to setuptools would probably be needed.

[2021-06-06 06:07] sakthikappu commented on #1066
Thanks for the timely response .
How to construct multiple frames , we shall use a for loop to construct the message

Is it possible to store multiple frames having different arbitrationid ,data and send them periodically ?
Ex:
msg[i].arbitrationid[i] = i ;
msg[i].data[i] = data;

shall we send this (msg) using periodic apis ?

In simple words , how to store a bulk  multiple frame messages (having

[2021-06-06 06:36] tiger86023086 commented on #1065
May be I have solve this bug.
I cannot find the parameter ' PCAN_ALLOW_ERROR_FRAMES'  in my attechment 'PCANBasi.py' which give when I buy PCAN.
So I think  my PCAN_USB fireware is old ,it cannot have the option of 'PCAN_ALLOW_ERROR_FRAMES'.
When I comment the code:
   ##        result = self.m_objPCANBasic.SetValue(
##            self.m_PcanHandle, PCAN_ALLOW_ERROR_FRAMES, PCAN_PARAMETER_ON
##

[2021-06-06 08:59] felixdivo commented on #1066
Well, a `can.Message` is a rather normal python object. You can send them by looping over the collection or by using periodic APIs. Please look at `examples/` in the repository root.

We can unfortunately not provide support here, please use different media for that. StackOverflow might help.

[2021-06-06 09:26] #702 closed

[2021-06-08 15:09] xinkunlong commented on #1064
yes, thanks.

[2021-06-08 15:36] felixdivo commented on #1064
Great!

[2021-06-08 15:36] #1064 closed

[2021-06-08 15:45] felixdivo opened #1078 "Codecov in CI often fails without apparent reason"
This was notable in many of the recent pull requests. For example: #1075 essentially only removed comments, so it should have nearly no impact on the coverage. However, this is what the codecov bot reports ([here](https://github.com/hardbyte/python-can/pull/1075#issuecomment-856841414)):

![image](https://user-images.githubusercontent.com/4403130/121216427-2a3e6280-c881-11eb-8b13-3283e9265152.png)

[2021-06-08 15:47] #912 closed

[2021-06-08 21:08] #1059 closed

[2021-06-08 22:13] felixdivo opened #1081 "Remove AppVeyor from project via setting"
AppVeyor was removed in #940 but is still run for any pushes/PRs. However, it can be removed from the project settings since [it does not run anything useful any more](https://ci.appveyor.com/project/hardbyte/python-can/builds/39514341).

[2021-06-08 22:22] felixdivo commented on #1078
@zariiii9003 mentioned this issue and a possible solution [here](https://github.com/hardbyte/python-can/issues/951#issuecomment-821872240).

[2021-06-08 22:23] #965 closed

[2021-06-09 07:14] felixdivo opened #1082 "Typing annotations for VectorBus.__init__(...) are missing"
**Is your feature request related to a problem? Please describe.**
`can.interfaces.vector.canlib.VectorBus::__init__` is not typed.

**Describe the solution you'd like**
Add annotations. They can more or less simply be moved from the docstring into the signature.

**Describe alternatives you've considered**
Let the IDEs do a possibly poor job.

**Additional context**
The rest of the class already

[2021-06-09 16:11] felixdivo commented on #1046
Reviewing all interfaces is quite a bit of work. Help if of course much appreciated.

[2021-06-11 13:28] holmel commented on #1058
Changing this line

https://github.com/hardbyte/python-can/blob/8e6f05a1e9075da13fa52c900cc0be3e3f7d7833/can/interfaces/usb2can/serial_selector.py#L42

to
[code]
solves this same issue  for me

[2021-06-14 08:19] felixdivo commented on #1060
@GitYom Great to hear that it helped. If you find issues with that approach (e.g. due to a bug), feel free to open a new issue.

[2021-06-14 08:19] #1060 closed

[2021-06-14 10:52] felixdivo opened #1096 "Install uptime library in CI to test if PCAN works with it"
The idea came up as part of #1093.

[2021-06-15 06:29] #1053 closed

[2021-06-15 06:34] felixdivo commented on #1058
Thanks @holmel. Yes, that's correct. They way, it should always work. @ivanrulik Does that solve you issue?

[2021-06-15 12:36] ivanrulik commented on #1058
Yes, it did solve the issue. Thanks!

[2021-06-15 12:37] #1058 closed

[2021-06-16 06:29] seifertm commented on #1059
Thanks @felixdivo and @hardbyte for taking care of this so quickly!

[2021-06-18 12:29] tjohanssonn commented on #272
I typically use it for various hobby projects or rapid prototyping at work. I love this library, especially the portability aspect that enables me to easily run it on lots of different hardware.

Interesting! I'm doing a project where I try to combine these. How do you pass the information from python-can to PySide?

[2021-06-24 02:25] catmemo opened #1097 "No tasks displayed when trying to print "_periodic_tasks""
**Describe the bug**

I tried to send a message with below code:
bus.send_periodic(msg_vehspd, 0.01, duration=None, store_task=True)

When I tried to send another data, I would like to stop this task, so I print _periodic_tasks before I call this code again.
However, [] was displayed.

**To Reproduce**
Steps to reproduce the behavior (please add longer code examples below):
[code]

**Expected beha

[2021-06-24 19:22] felixdivo commented on #1097
@catmemo Could you please remove any code that is not related to the problem, like the GUI setup? That would make finding the issue a lot easier.

[2021-06-25 02:59] catmemo commented on #1097
@felixdivo Done, thks~

[2021-06-25 03:00] catmemo commented on #1097
@felixdivo Done, thks~

Done, thks~

[2021-06-25 16:04] davidva-ecco commented on #1065
@tiger86023086 I was unable to reproduce your issue with Windows 10 and PCAN.  Can you verify you installed the PCAN USB drivers as well as the PCANBasic API?

python-can version
[code]

Test
[code]

[2021-06-29 07:22] felixdivo commented on #1097
Ah, thanks for the cleanup. Now I see the issue: The periodic tasks are bound to the instance of `can.interface.Bus`, but you create a new one in each iteration of the timer. However, you should use the *same* bus instance in all invocations of the timer callback. That should do what you want. And also you should close the bus once you are done using it, e.g. with `bus.shutdown()` at the very end

[2021-06-29 09:39] felixdivo commented on #1097
@catmemo If there is another issue with the setup where you suggest there is a bug lurking in the library, please feel free to open a new issue.

[2021-06-29 09:39] #1097 closed

[2021-06-29 09:40] felixdivo commented on #941
If you think there is a bug in the library, please open a new issue or comment on this one.

[2021-06-29 09:40] #941 closed

[2021-06-29 09:44] felixdivo commented on #1057
@KB20236 We always welcome contributions! This looks useful.

[2021-06-29 09:46] catmemo commented on #1097
Thank you for your quickly reply！

[2021-06-29 09:47] catmemo commented on #1097
Well, I will. Thanks again.

[2021-06-29 14:23] milhead2 commented on #730
I have kept alive a python-j1939 library but nowhere near the support level that python-can has.  At https://github.com/milhead2/python-j1939,,,  We use it to simulate ECU's under a robotframework environment.  It certanly is a potential refactor to use the kernel j1939 support but probably not until we get all our development and test workstarions updated to >5.4 kernel.  What is today a pretty u

[2021-06-29 14:42] olerem commented on #730
please note, the kernel is using socket error queue to notify about transfer status updates. The TX variant is implemented and mainline. The RX is currently under development.

[2021-07-02 10:51] thbuch opened #1101 "Timestamp value back to 0 after a few seconds when logging ASC or BLF"
Hi there,
As mentioned, I found a strange behaviour sometimes when trying to log data from a CAN Bus into a ASC or BLF file using ASCWriter or BLFWriter.
In some cases, when checking the messages logged, I found timestamps starting again from zero after first 2-3 seconds.

I noticed too that some messages were missing in comparison with logs taken with a Vector CanCase and its own software Canoe.

[2021-07-06 15:08] ChrisSweetKT opened #1102 "Uptime.bootime can be successfully imported and return None"
**Describe the bug**
`uptime.boottime()` can return None, causing errors in dependent codebases. According to the uptime docs, this is expected behavior in cases where `uptime.uptime()` cannot be established.

**To Reproduce**

**Expected behavior**
A numeric value is returned instead of the following error
[code]

**Additional context**
We would like to propose changing [this line](https://github

[2021-07-08 23:27] kklouzal opened #1104 "Extend Functionality With OBD2/OBD-II Data Interface"
As you may know, the python-obd library exists https://github.com/brendan-w/python-OBD and merging functionality into this library would provide quick and easy access to OBD2/OBD-II data.
For instance, when using this module with a RaspberryPI https://copperhilltech.com/pican3-can-bus-board-for-raspberry-pi-4-with-3a-smps-and-rtc/

[2021-07-13 20:41] MasterCodeIT commented on #193
I do not see a usb2can.py in the repository. I attempted to put the USB2CAN CANAL DLL in the USB2CAN library in the usb2can directory but I still get the error:

FileNotFoundError: Could not find module 'usb2can.dll' (or one of the dependencies). Try using the full path with the constructor syntax.

[2021-07-13 20:56] MasterCodeIT opened #1106 "FileNotFoundError: Could not find module 'usb2can.dll' (or one of the dependencies)"
I do not see a usb2can.py in the repository. I attempted to put the USB2CAN CANAL DLL in the USB2CAN library in the usb2can directory but I still get the error:

FileNotFoundError: Could not find module 'usb2can.dll' (or one of the dependencies). Try using the full path with the constructor syntax.

[2021-07-14 11:50] #1102 closed

[2021-07-14 11:52] felixdivo commented on #1106
See [the docs](https://python-can.readthedocs.io/en/master/interfaces/usb2can.html) for how to install it. You have to do it manually.

[2021-07-14 11:52] #1106 closed

[2021-07-14 11:54] felixdivo commented on #1104
Please refer to #1041. It is not in the scope of this library.

[2021-07-14 11:54] #1104 closed

[2021-07-14 12:00] felixdivo commented on #1051
Since neither "canfox" nor "ifm" were ever mentioned in this repo, I suppose it is not supported.

[2021-07-14 12:01] felixdivo commented on #1082
Was already implemented in #1084.

[2021-07-14 12:01] #1082 closed

[2021-07-14 12:15] felixdivo commented on #555
I think this is more or less done in the main API and not very helpful to track in an issue. The code in the interfaces is very ... heterogeneous anyways, so I don't think it's too useful to have one big issue for it.

[2021-07-14 12:15] #586 closed

[2021-07-14 12:17] felixdivo commented on #376
Related to #1046.

[2021-07-14 21:37] hardbyte commented on #555
Yeah that's fair

[2021-07-14 21:37] #555 closed

[2021-07-14 21:39] #269 closed

[2021-07-14 21:39] #657 closed

[2021-07-16 21:04] anand-bala commented on #726
I realize this issue is old, but would it be possible to change `CANalystII = CDLL("./libcontrolcan.so")` in [line 65](https://github.com/hardbyte/python-can/blob/5b63bb28bd849dcf273cd648e32db53e21daf9d9/can/interfaces/canalystii.py#L65) to `CANalystII = CDLL("libcontrolcan.so")"?

Removing the "./" in that allows `ctypes` to search `LD_LIBRARY_PATH` or use something like `ldconfig` to find the li

[2021-07-27 18:23] s0kr4t3s opened #1111 "Unable to initialize Pcan in fd mode"
`util._create_bus_config` creates the BitTiming object, when timing parameters are given and deletes them from kwargs.

since `PcanBus.__init__` does not look for BitTiming params in kwargs, Initialization fails.

[2021-07-27 18:38] #1111 closed

[2021-08-02 15:05] thbuch commented on #657
Hi there!
Thanks for the information. I am using a Raspberry Pi 3B+, a Seeed-sTudio 2CAN-FD Hat and a Tkinter GUI.
I am noticing package drops even using the simplest examples given in the library when trying to log to blf.
I though making the buffer bigger might help but it didn't work for me.

Have you ever tested on raspberry pi? Any clues for message dropping? Thank you.

[2021-08-05 15:10] thbuch commented on #474
Hi,
I am noticing the same frames missing when trying to log to blf.
I tested with candump logging to log format and the same result.
I tried to expand input buffer using:
$echo 100048576 | sudo tee /proc/sys/net/core/rmem_max
$echo 100048576 | sudo tee /proc/sys/net/core/rmem_default

Initial buffer was 1048576 but I still got missing messages.

Have you experienced that problem using a Raspberry

[2021-08-05 15:13] Lauszus commented on #474
No I have not used that particular hat. FYI my repo is here in case you want to use it: https://github.com/Lauszus/socketsocketcan.

I've been using it for years now without any issues with dropped frames.

[2021-08-05 15:38] thbuch commented on #474
Thanks Lauszus!
If I understood it well, I need the Raspberry connected to CANbus with the c client and an extra Laptop receiving all this data with a python server. Is that right?
However, I have to do all the job in the Raspberry. :(

What makes me wonder is that I have already tested candump which is already c and still have these missing frames.
What hardware interface are you using?

[2021-08-05 16:15] Lauszus commented on #474
No I actually run both the client and the server on the Raspberry Pi. The C++ code basically fills up a big buffer with all the frames. This means that the data might be delayed if the Python code can not keep up, but at least it does not drop any frames.

Check out this example: https://github.com/Lauszus/socketsocketcan/blob/master/examples/local_client.py

This is very useful when you want to l

[2021-08-06 07:16] thbuch commented on #474
That looks good! I'll give a try next week and come back with results (or more doubts).
Thanks a lot!

[2021-08-12 14:20] thbuch commented on #474
Hi,
After some initial difficulties with the installation I managed to make some tests.
I am having quite good results, and that has helped me to realize that I also have some precious problems. And still have.

As you can see in the attached image, I am having 'spi0.0 can RX-0: FIFO overflow'
every certain time (not periodically) even with no programs running, just with the CAN adapter can0 UP.
I

[2021-08-13 15:01] amitlissack opened #1117 "PCAN MAC message ID type issue (c_ulong vs c_uint)"
# Description

Using PCAN interface on the mac using version >=0.9 of `libPCBUSB` results in ID and DLC errors.

The ID has unexpected bits well beyond bit 29.
And the DLC is always zero.

# Reproduce
install version >=0.9 of `libPCBUSB`.
Read a message from a connected device on a MAC using PCAN interface.

# Expected Behaviour

The ID will be 11 or 29 bits.
The DLC will be the data byte count in

[2021-08-14 10:52] felixdivo commented on #657
It tested on a Raspi 4B with socketcan (from Ubuntu 20.04) via USB and everything works there.

[2021-08-15 19:08] Lauszus commented on #474
Hmm that is quite a bad ratio between packets and dropped frames.

FYI here's the output from two device using the older `mcp2515` driver:

[code]

[code]

At what frequency are you sending data?

[2021-08-16 10:05] thbuch commented on #474
I am using a laptop with a Vector Canoe Application to simulate a Car's CAN Bus. I can count an average of 4 frames/ms.
So, frequency is about 4KHz.
Settings are 500 kBaud and statistics in Canoe show around 45% busload.

[2021-08-16 11:31] thbuch commented on #657
I have always used it with Raspbian. I will give a try with Ubuntu. My can adapter is communicating via SPI, I guess it may affect too.
I will come back with my testing results in some days. Thanks.

[2021-08-17 08:42] thbuch commented on #657
I am having a lot of problems just to install the drivers for the hat using Ubuntu.
Actually, it is working apparently fine on Raspian. But when trying to log CAN frames at a certain speed, then I noticed I was missing some data.
I need to log frames quite fast (4frames/ms). I also tried using buffered listeners but I miss around 10% messages.
I don't know if it is a hardware or software problem..

[2021-08-17 19:20] hartkopp commented on #657
I have a Raspian with a Linux 5.10 kernel which works out-of-the-box WITHOUT compiling any drivers/scripts from Seeedstudio.
I only added the CAN interface assignments in config.txt

The Seeedstudio install procedure might have worked for older kernels but the best SPI drivers are in Mainline Linux now and compiling and installing the stuff from Seeedstudio made it worse and finally sabotaged the

[2021-08-18 09:13] thbuch commented on #657
It sounds great! I actually have installed this linux Kernel version.
@hartkopp, can you give me an example of how to add the CAN interfaces correctly in config.txt?
Currently, my last line in config.txt is:
dtoverlay=seeed-can-fd-hat-v2

[2021-08-19 07:42] hartkopp commented on #657
Yes, similar here:
`dtoverlay=seeed-can-fd-hat-v1.dtbo`

This was the only thing I changed on my RasPi (no compiling and installing of out-of-tree CAN drivers that came with the seeed package).

[2021-08-19 08:39] thbuch commented on #657
I see. I am using v2 due to the RealTimeClock in the HAT.
I started some time ago with different dtoverlay (I guess pointing to diffrerent drivers). And when I noticed these problems I updated everything and setup with dtoverlay=seeed-can-fd-hat-v2.
What are these CAN drivers you mention? How can I check if I have them installed and unistall them?

[2021-08-19 14:33] stupidlogic commented on #716
Hey - I have recently forked and been working on implementing support for a new adapter and ran into this same issue in my use case.  To put it simply, I want to run a logger but then also manually grab a message through bus.recv().  However, this is not reliable because when I add a Logger as a listener in the Notifier, it gets consumes but whichever call gets there first.

My question is - has t

[2021-08-20 07:17] hartkopp commented on #657
There was a former installation process where a driver was compiled and installed (not only the dtoverlay):
https://github.com/Seeed-Studio/seeed-linux-dtoverlays/tree/master/modules/CAN-HAT

As you can see here https://github.com/Seeed-Studio/seeed-linux-dtoverlays/blob/master/modules/CAN-HAT/Makefile#L47 the `mcp25xxfd.ko` module is copied into the kernel modules directory. When the file date of

[2021-08-20 11:44] thbuch commented on #657
All right! I've seen how to uninstall it.
I'll make some tests and I'll come with the results in a few days. Thanks a lot!

[2021-08-24 02:28] rhanks26 opened #1120 "pip install python-can==3.3.4 attempts to install windows-curses on linux"
**Describe the bug**
Running `pip install python-can==3.3.4` fails due to setuptools attempting to install windows-curses even though the I'm running Ubuntu 16.04.

**To Reproduce**
Run 'pip install python-can==3.3.4'
Pip Version: 20.2.4
Python Version: 2.7
OS: Ubuntu 16.04
setuptools version: 44.1.1

**Expected behavior**
Succesful installation.

**Additional context**

OS-version: Ubuntu 16.04
P

[2021-08-24 13:33] cloudsftp commented on #461
Hey @far3ll, how did you find out the serial number of the device VN1610? I can't find anything useful online :(

[2021-08-24 13:43] far3ll commented on #461
Hi @cloudsftp,
serial number can be found by either reading it on the hardware itself (sticker on VN1610 with format XXXX-XXXX, only last 5 digits are relevant) or by accessing it in Windows Control panel (the old one, not the one from Win10). There should be a "Vector Hardware" topic (or similar name) with all connected devices and its assigned serial numbers.
Cheers!

[2021-08-26 14:33] prunith opened #1121 "IXXAT send_periodic not works with interface that does not include FEATURE_SCHEDULER"
**Describe the bug**
Some of IXXAT board does not include FEATURE_SCHEDULER and as IXXAT internal scheduler is used by default in python CAN it return error "Division by Zero" when send_peridic_message is used.

**To Reproduce**
Try to use send_peridic_message  with IXXAT PCI_Can card.

**Expected behavior**
_send_periodic_internal should check caps.dwFeatures if FEATURE_SCHEDULER is available on

[2021-08-28 15:45] ErdosAndris opened #1122 "ValueError: 1207997447 is not a valid XL_ChannelCapabilities"
https://github.com/hardbyte/python-can/blob/1979a75ce505a7d3a29651bd34f7fc111a33d730/can/interfaces/vector/canlib.py#L801

When I call the VectorBus constructor inside canlib.py to create a new Vector CAN channel, I use the following parameters:
**channel=0, serial=1347** because according to the API doc, in this way, the channel config has been discovered automatically by device serial number (or

[2021-08-30 13:36] Cherish-forever commented on #726
@altrunner
why no cpoy libcontrolcan.so to python-can/can/interfaces ?
and use relative script file path.

[2021-08-31 08:11] tarunkumar3096 commented on #735
I'm getting same error "AttributeError: module 'can' has no attribute 'Bus'"
@queen97king2019 Can you tell exact fix to resolve this error

[2021-08-31 13:50] zariiii9003 commented on #1122
python-can 4.0 is only supported for python 3.6 or newer. There were some changes in for the enum module between python 3.5 and 3.6.

Please try again with a newer python version and report back.

[2021-09-05 10:24] felixdivo commented on #735
It's probably importing some other module that's also named can. Please inspect `can.__file__` or similar attributes to find out ehere it is imported from.

[2021-09-07 10:24] tractorDan opened #1124 "Decoding DM1s"
For blfreader:

It appears that it is not possible to obtain FECAh (DM1s) in this format unless they are 8 bytes or less.
If a DM1 is greater than 8 bytes, it is necessary to manually decode ECFF and EBFF TP messages to obtain the multi-packet DTC information.

It would be good to be able to access DM1 objects and internal fields.

e.g.
log = can.BLFReader(filename)
for msg in log:
    if msg.type

[2021-09-07 11:41] Lauszus commented on #474
Okay. I can not replicate that in my setup. I have a busload of around 67 % when I log data and that is not causing any issues.

[2021-09-07 13:28] hartkopp commented on #474
This seems to be a duplicate issue - and is probably done:
https://github.com/hardbyte/python-can/issues/657#issuecomment-902634137

[2021-09-07 14:03] thbuch commented on #474
Hi Lauszus, hartkopp! It's not yet done. Thanks both because your proposals are helping a lot but still having some issues. I need some more tests to discard my own errors and I'll bring back my results (and previous mistakes).

[2021-09-09 18:28] christiansandberg commented on #1124
This is specific to J1939 and this library deliberately only handles raw CAN. The idea is that protocol specific libraries can be built on top of python-can.

[2021-09-09 18:31] #1124 closed

[2021-09-10 12:43] thbuch commented on #657
Hi, I could improve quite a lot by uninstalling the old driver and setting correctly the can interfaces (thanks hartkopp) and setting big buffers (thanks karlding).
However, it only works fine for half an hour aproximately. Apparently, after this period, rx-buffer is full and I find gaps in the logging files compared to the one logged using Vector Canoe.

If I run in the terminal:dmesg | grep spi

[2021-09-10 12:52] thbuch commented on #474
Hi, I could improve quite a lot by uninstalling the old driver and setting correctly the can interfaces (thanks hartkopp) and setting big buffers (Reffer to issue #657).
However, it only works fine for half an hour aproximately. Apparently, after this period, rx-buffer is full and I find gaps in the logging files compared to the one logged using Vector Canoe.

Is not clear for the difference betwe

[2021-09-10 13:45] Lauszus commented on #474
@thbuch no I do not log at 67 % bus load for hours only during short intervals. However I contentiously log when the bus load is 14 % and I do not see any gaps.

[2021-09-10 14:22] thbuch commented on #474
Correct, when I use my device as you explain I got good results.
Do you know any way to control the rx buffer? Check usage, clear it completely, etc...

[2021-09-10 14:29] Lauszus commented on #474
No unfortunately not, as I've never had a reason to change the default size, so I have never looked into it.

[2021-09-10 15:55] thbuch commented on #474
Ok. Thant reminds me that I tried BufferedReader and Notifier some time ago. Then I found the problems with the drivers. I will give another try...

[2021-09-10 17:12] hartkopp commented on #474
Did you run into these problems when just using `candump` von https://github.com/linux-can/can-utils ?

[2021-09-10 20:47] thbuch commented on #474
I've repeated the test to be sure it has been done after "driver reparation".
Unfortunately yes, I find these problems using candump.
So, maybe is still a driver problem?

Here problems start after 10 minutes. This is not always like this. Yesterday's tests were fine for 30 minutes (2 channels) but errors when logging for 1hour.

I've done the test using:
candump -l can0,0:0,#FFFFFFFF

So, all mes

[2021-09-13 19:29] hartkopp commented on #474
(..)

The FIFO overflows are somehow sporadic - but this doesn't make it better.

The number of dropped frames and detected errors displayed here https://github.com/hardbyte/python-can/issues/474#issuecomment-897680596 could be either a simple overload condition - or it could be caused by a slightly misconfigured CAN bit timing which might created errors on CAN controller level.

@marckleinebudde

[2021-09-14 09:39] marckleinebudde commented on #657
If you get a

that means that the kernel failed to get the messages fast enough out of the hardware. This is independent of any user space buffers or size, and/or applications receiving CAN frames.

However, if the system is loaded, the processor has less time to download incoming CAN frames from the hardware and finally the buffer will overrun.

[2021-09-14 09:56] marckleinebudde commented on #474
`rx_dropped` if the driver fails to allocate an `skb` in the RX-path https://elixir.bootlin.com/linux/v5.14/source/drivers/net/can/spi/mcp251xfd/mcp251xfd-core.c#L1521

`rx_fifo_errors` if the queue between IRQ handler and NAPI is full in the RX-path
https://elixir.bootlin.com/linux/v5.14/source/drivers/net/can/spi/mcp251xfd/mcp251xfd-core.c#L1528

`rx_over_errors` and `rx_errors` on RX-FIFO overf

[2021-09-20 06:26] thbuch commented on #474
ok, I found the FIFO error I got at line 1661 (@marckleinebudde ). However, I don't really understand this code and no clue what should I do here.
@hartkopp commented these errors may be overload condition. CPU overload? 50% can be considered overloaded?
And about the CAN bit timing configuration. Is it related to sample-point? What are you exactly reffering to?

[2021-09-20 08:43] thbuch commented on #657
I did some test again checking the CPU load. It was slightly over 50%.
I managed to insert a time.sleep(0.1) in the GUI part and the main python program reduced around 20% CPU.
Then with a button I open a new window which activates the CAN logging.
In order to read CAN channels I launch a thread that increases CPU load around 20%.
As far as I know, this time.sleep may not affect the thread to cont

[2021-09-21 09:28] hartkopp commented on #474
4 frames per ms looks more like 78% busload on a 500kBit/s CAN.

Do you use CAN FD or only Classical CAN?

Can you check what `canbusload can0@500000` tells you about the busload?

[2021-09-21 10:13] thbuch commented on #474
Sorry, I should have updated this data. The part I was counting was 4 frames/ms but it was not all time the same. It is actually an average of 2 frames/ms or 2KHz if I check the total frames in a log.
Canoe shows around 45% and canbusload can0@500000 around 48%

I use both CAN FD and Classical CAN. Classical CAN @500000 and CAN FD bitrate 500000 and dbitrate 2000000.
I could check that if I set th

[2021-09-21 16:30] thbuch commented on #474
I am a little stuck. What can provoque I receive these ErrorFrames? I don't see the error frames in Canoe's logs.

[2021-09-23 19:33] hartkopp commented on #474
Makes sense. Even when the average load is relaxed you might have pile-ups that probably might lead to the input-FIFO overflow.

Ok. AFAIK the latest `canbusload` tool (from this repository) supports CAN FD too by providing a data bitrate.

ErrorFrames usually show up when the CAN bus is not properly terminated or when the bitrate setting (especially both the sampling points) does not fit exactly.

[2021-09-24 12:00] thbuch commented on #474
Ok, thanks again. I'll come back with the results in some days.

[2021-09-26 19:54] yosefgouda2020 opened #1130 "How Can I work with USB CAN Adapter Robotell Co.?"
Hello ,

I bought USB CAN Adapter Robotell Co. from Aliexpress in this [link ](https://www.aliexpress.com/item/32959205216.html?spm=a2g0o.search0302.0.0.413932e3QFAPzt&algo_pvid=04205ea5-f1d8-42fe-b700-0f97463eb722&algo_exp_id=04205ea5-f1d8-42fe-b700-0f97463eb722-2)

I am not able to find software for it is there any method to run this hardware ?

My operating system is windows.

Thanks,

[2021-09-27 14:32] felixdivo commented on #1130
[Here](https://python-can.readthedocs.io/en/develop/interfaces.html) are the interfaces supported by version [`4.0.0-dev.2`](https://github.com/hardbyte/python-can/tree/4.0.0-dev.2). Maybe that helps (you can try a few).

In general, we should consider providing more beginner-friendly ways to find the right interface.

[2021-09-27 14:34] felixdivo commented on #1122
If the issue persists, feel free to comment again. I'll close it for now.

[2021-09-27 14:34] #1122 closed

[2021-09-27 14:37] felixdivo commented on #1120
Thanks for reporting the issue. This should not happen with the (still in development) release 4.0.0 (see [here](https://github.com/hardbyte/python-can/blob/develop/setup.py#L90)). For example, you can try [4.0.0-dev.2](https://github.com/hardbyte/python-can/releases/tag/4.0.0-dev.2). It should already work for most things.

[2021-09-27 14:38] felixdivo commented on #1121
I don't have an IXXAT device on hand, but pull requests are always welcome!

[2021-09-27 21:31] yosefgouda2020 commented on #1130
Hi @felixdivo Thank you for your help
I tried to use the python script of this [link ](https://github.com/hardbyte/python-can/blob/4.0.0-dev.2/can/interfaces/robotell.py) but it didn't work when I run it using python so is there any steps to make USB CAN Adapter Robotell working and display the CAN messages.
Thank you.

[2021-09-27 22:14] felixdivo commented on #1130
How did you use that "script"? You should use it more like this: https://github.com/hardbyte/python-can/blob/develop/examples/receive_all.py.

[2021-09-28 07:08] felixdivo commented on #1130
Okay, so maybe [this](https://realpython.com/lessons/scripts-modules-packages-and-libraries/) helps with the terminology. Generally, we can't give general programming advice here, there are other platforms for that.

You should copy the script I linked above or other files from [the example forlder](https://github.com/hardbyte/python-can/blob/develop/examples) and modify the part where the `can.in

[2021-09-28 07:14] felixdivo opened #1131 "Add an beginner-friendly way to determine the right interface for your device"
**Is your feature request related to a problem? Please describe.**
Often (a few times a month?) new users are asking whether their spoecific device is supported by this library and which one they should use.

**Describe the solution you'd like**
Maybe, we should add some specific supported devices to the interface documentation pages each? The perfect solution would be a script that finds the corr

[2021-09-28 07:15] felixdivo commented on #1131
Comments of users on what you would like to see are much appreciated on this!

[2021-09-28 07:16] felixdivo commented on #1130
I opened #1131 for the general discussion and will close this one for now. If you find a **bug**, please comment back.

[2021-09-28 07:16] #1130 closed

[2021-09-28 07:22] felixdivo opened #1132 "Add support for devices from "DG Technologies""
Development was started in #677 but never completed.

[2021-09-29 01:02] yosefgouda2020 commented on #1130
@felixdivo I changed the code in the receive_all.py line 14 like this

    with can.interface.Bus(
        bustype="robotell", channel="COM3", ttyBaudrate=115200,bitrate=250000
    ) as bus:

and I got this error

 import can
  File "C:\Python39\lib\site-packages\can\__init__.py", line 17, in <module>
    from .listener import Listener, BufferedReader, RedirectReader, AsyncBufferedReader
  File "C

[2021-09-29 07:01] felixdivo commented on #1130
The code looks good on first glance. Did you install the library with pip?

[2021-09-29 07:29] danielhrisca opened #1133 "New release (4.0.0)"
Hello all, is there some target release date for version 4.0.0 final?

[2021-09-29 11:30] 81piyush opened #1134 "On transmitting, when vector CAN channel is not connected, exception or error is not observed."
Hello, I am using the python-can module on Windows platform with Vector Hw VN1630A connected.

On disconnecting the CAN channel 1 of this Hw (not connected to any of the ECU node or CAN receiver, so that acknowledgment is not received).

Then on attempt to transmitting the CAN data through this channel using the "send" or "send_periodic" methods, even though the data is not through, there is no er

[2021-09-30 13:59] yosefgouda2020 commented on #1130
yes using pip **pip install python-can**, and also if there are some steps to setup and run for robotell hardware you know and could you please share with me?

[2021-09-30 16:30] thbuch commented on #474
I tested setting different sample points and sjw and, to be honest, I could not see big differences.
I changed recv(1.0) to recv(0.001) and it looks like I got much less Errors and FIFO overruns.

A curious test:
I tested recording traces using a CanCase in a Laptop and the Seeed Can-Hat in a Raspberry. Both with the same python code except configuration of the interface.
The log data from the lap

[2021-09-30 16:34] christiansandberg commented on #1134
A send operation only adds the message to a buffer on the hardware or driver. As long as there is room for more messages in the queue the call will be successful. It is only until the buffer becomes full when it will raise an exception.

[2021-09-30 21:02] felixdivo commented on #1130
Sorry, I can't tell you more than what's here: https://python-can.readthedocs.io/en/develop/interfaces/robotell.html

[2021-10-04 16:42] SebastienAuclair opened #1135 "Major performance issues (Socketcan at 1K bit rate)"
**Bug Description**
More than half of the sent can frames are lost as the python code can't keep up.
5000 frames are being sent and candump has no difficulty receiving them. Python-can just can't.
Only receives 1270 out of the 5000.

**To Reproduce**
Two TCUs (ARM 800mhz) exchanging 5000 frames per second on 1mbps can wire.
Sender uses `cangen can1 -n 5000 -g 0.0001`
Receiver TCU as one very simpl

[2021-10-04 22:32] #1135 closed

[2021-10-05 12:11] 81piyush commented on #1134
Thanks. I have tried sending the message in the loop for over 1500 iterations. At around 1215, the buffer was full and the following exception was raised.
xlCanTransmit failed (XL_ERR_QUEUE_IS_FULL)

[2021-10-05 12:11] #1134 closed

[2021-10-07 17:17] nateimig18 opened #1136 "Fix so *.asc files created by canASCwriter can be read by Vector CANalyzer"
https://github.com/hardbyte/python-can/blob/ab793f681017e525244647b8a39a13c1e7ac32b5/can/io/asc.py#L176

Im not sure if this was intentional but it seems like Vector CANalyzer does not like header timestamps in terms of microseconds and refuses to import the "asc" log to view or replay.

The fix:
[code]

[2021-10-12 11:53] sveinse opened #1137 "Async variant of BusABC?"
I am using the asyncio support in `Notifier` which works well on reception of messages. However there is no async variant of `BusABC.send()`. It has a timeout which by default is set to `None` that may block forever according to spec. Not all interfaces seems to be using the timeout parameter and I haven't had any problem using it as-is from async tasks. But it _is_ a potential block which may hal

[2021-10-17 14:14] telkamp opened #1139 "Branch available: socketcand backend for python-can"
We are using a Raspberry PI with MCP2515-based CAN-HAT, running a a [socketcand](https://github.com/linux-can/socketcand) as "IP-to-CAN-Gateway damon".
For this, we have implemented a new backend.
The code is committed in a cloned repository:
https://github.com/domologic/python-can/tree/socketcand-interface

It would be nice if you could merge this into your repository. Please let me know if we ha

[2021-10-17 14:17] #1139 closed, assigned to nobody

[2021-10-26 13:27] alexey-tereshenkov-oxb opened #1150 "Missing setuptools as a package dependency"
**Describe the bug**

`setuptools` Python package is not declared as a dependency despite using the `pkg_resources` module in the source code.
https://github.com/hardbyte/python-can/blob/develop/setup.py#L88

**To Reproduce**

Install the package in a virtual environment that doesn't have `setuptools` installed and import the modules that imports `pkg_resources.` This makes it difficult to use thi

[2021-10-27 21:54] #1150 closed, assigned to nobody

[2021-11-01 21:05] elfring opened #1160 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-02 17:23] menroka opened #1161 "can.CanError not being raised"
I have an Ixxat USB-to-CAN V2 hooked up to an embedded system.
The system is initially shut down, without any electricity, so there is no way for the CAN to work, because there is only one lonely Ixxat and nothing can send the acknowledgement bit.
When calling network.send_message(canID, data) like this:
[code]
The Ixxat then starts flashing the red CAN LED and the console is outputting "CAN ackno

[2021-11-05 14:19] thbuch commented on #474
Hi,
Some news here! I recently had the oportunity of testing a PEAK_USBCAN_FD.
In order to install the driver it I updated my Raspberry Pi 4 using:
sudo apt-get update
sudo apt-get upgrade

I have logged data during hours with the PEAK_USBCAN_FD and works perfectly for both CAN Classic and CAN FD.
So, it looks the problem is not my code.

Then I tested back with the Seeed-Studio's 2Channel CANFD i

[2021-11-08 11:13] Kheffache opened #1162 "Python-can consume an asc file"
Hello, i have a projet where i need to decode a raw CAN Trace log that is saved into an asc file, the decoding should be done offline (at the end of the test execution). The can Trace log contains 3 type of CAN-Data:

- CAN - TP
- CAN
- CAN FD

**My Question is:** I want to know if the Python-can can consume a CAN log file (.asc .txt ...) to extract the payload of the frame that are CAN TP data fr

[2021-11-10 05:21] tomcunn commented on #964
I messed with similar and have about given up hope.

Python 3.10
pywin32=302
python-can 2.2.1
Used the dll labeled WinUSB CANAL DLL v1.0.0 (32/64 bit)

Used similar code, can receive without issue, but no transmits. After updating to 3.10, had to make some changes to code for locating .dlls and for the bit rate because there was some issue there.

I bought the Korlan thinking it would be a quick s

[2021-11-10 08:22] Kochise commented on #303
The 'ixxat' interface is not detected with `python-can 3.3.4` :

[code]

If I loop on all interfaces, I can detect it though :

[code]

[code]

Yet trying all channels and all baud-rates pretty much hurts the CAN bus a lot (if not resilient to such invasion).

Regards.

[2021-11-10 10:30] klaasdc commented on #964
I received some code from 8devices but I never got it to work on my 64 bit system. Even their test application fails to start or crashes. At some point it was "working" without errors in Python but in reality never sent out or received anything. I gave up and moved on to another USB-CAN adapter that works both in Win and Linux.

[2021-11-10 13:44] felixdivo commented on #1162
It should be possible to read these files but CAN TP "decoding" would have to be done manually or with other libraries. For the file reading, have a look `can.ASCReader` and the other readers [here](https://python-can.readthedocs.io/en/master/listeners.html). Usage is simple:

[code]

[2021-11-10 13:44] #1162 closed

[2021-11-10 13:47] felixdivo commented on #1161
Hey @menroka, what piece of code are you referencing? Is it on the `develop` branch?

[2021-11-10 13:49] felixdivo commented on #1136
Hm, it would be nice if Vector changed their implementation. It would make the tool more robust to other input (e.g. ours) and the data more precise.

[2021-11-10 13:54] felixdivo opened #1164 "'ixxat' interface not detected"
The 'ixxat' interface is not detected with `python-can 3.3.4` :

[code]

If I loop on all interfaces, I can detect it though :

[code]

[code]

Yet trying all channels and all baud-rates pretty much hurts the CAN bus a lot (if not resilient to such invasion).

Regards.

_Originally posted by @Kochise in https://github.com/hardbyte/python-can/issues/303#issuecomment-964886754_

[2021-11-10 13:54] felixdivo commented on #303
@Kochise I created #1164 for this.

[2021-11-10 15:24] menroka commented on #1161
Hi @felixdivo , the referenced code block is something I have written myself using the [canopen](https://canopen.readthedocs.io/en/latest/) packet.
The send_message function is documented [here](https://canopen.readthedocs.io/en/latest/network.html#canopen.Network.send_message).

[2021-11-10 15:44] hartkopp commented on #1136
The ASC file format is a grown file format from the start of this century. And Vector is pretty clear when you look into the `can_log_trigger_asc_format.pdf`you can see the liability disclaimer. It's just a neat documentation - no guaranties ;-)

You might also check `asc2log` and `log2asc` from the SocketCAN `can-utils` (https://github.com/linux-can/can-utils).
I did my very best there to provide

[2021-11-10 18:20] lhpluke opened #1165 "[help wanted] [question] [os:linux] Python-CAN script receiving half of the expected CAN messages"
Hello all,

I have written a Python script utilizing the Python-CAN library which records received CAN messages at a 1 second rate for 5 minutes, before logging all the messages into a file and exiting. The computer has a CAN module which is connecting to the CAN bus. (The other device on the bus is an engine) I communicate with it using the SocketCAN interface.

The test engine system that this c

[2021-11-10 18:41] rliebscher commented on #1165
Hi,in case you get another message with same arbitration id in your receive window of one second, it will be overwritten by the previous one.self.message_Dict[msg2.arbitration_id] = msg2.dataCheck if your incoming message have really different arbitration ids, otherwise you cannot use a dict. Use a list or queue and remove duplicate messages later in your processing.RenéAm 10.11.21, 19:20 schrieb

[2021-11-10 18:57] lhpluke commented on #1165
Hello, my thought process for using a dictionary was so I could obtain the most up-to-date messages within that one second window.
I figured overwriting the older messages in the dictionary would be faster than checking to see if it is already in the dictionary as well. Am I incorrect in my assumption?

[2021-11-10 20:11] felixdivo commented on #1136
Sure 😃, but better compatibility with such an easy fix is something that I'd expect as a customer.

[2021-11-10 21:20] rliebscher commented on #1165
It was not completly clear.
Do you have 114 messages (with possible some the same arbitration id) or many more messages with 114 different arbitration ids?

[2021-11-10 21:29] lhpluke commented on #1165
Oh, yes I am trying to monitor 114 distinct messages. They all have separate arbitration id's.
Since it is connected to a live engine/ECU, I believe there are a lot more than 114 messages transmitting across the bus. My filters have cut down the messages to just 114.

[2021-11-11 16:06] marcel-kanter commented on #1164
Hmm. We're using the ixxat usb interfaces a lot at work. Let me have a look onto this tomorrow. My guess is that you don't have the driver installed and there is an issue with loading the module. Could you please print the exception that you currently ignore (The pass statement under the comment Connection failed)?
This might help with the other backends too.

[2021-11-11 16:14] felixdivo commented on #1164
Just to make it clear, this was

Thanks @marcel-kanter for having a look!

[2021-11-11 17:35] felixdivo commented on #1046
THis is complete once all PRs which are linked in the issue text are merged.

[2021-11-12 09:37] felixdivo commented on #1133
Now, #1046 is "only" waiting for reviews of the changes and merges. The implementation is done.

[2021-11-13 16:33] Kochise commented on #1164
Thanks for opening this issue. I don't have access to the hardware anymore, but I'll somebody that do.

Is there a way to get more infos about an interface ? For instance, the `neovi` have two channels (ch1 and ch2) while the `ixxat` only have one (ch0).

It would be great to have something like :

[code]

Hence that would help to know what's possible without trying all combinations.

Regards.

[2021-11-14 09:07] marcel-kanter commented on #1164
First the code:

[code]

Then the output:
[code]

Now the explanation:

I know for sure, there are adapters made by ixxat that have one or two interfaces. I use some of them and maybe there are some with more channels.

Back to the problem:
detect_available_configs does not simply open the interface and tries all combinations. It forwards the work to the backends. Each bus interface needs to imple

[2021-11-14 09:11] marcel-kanter commented on #1164
[code]

Can be used to get info about which interface implements the detection:

[code]

[2021-11-14 15:15] Kochise commented on #1164
Better than nothing, yet doesn't nicely solve my problem, though.

Having some interfaces not being fully supported jeopardize their use unless we know for sure what they can do before connecting them to the bus. The CAN interface being live, trying combinations blindly kills the bus.

Better stick to known channels' identifier and compatible baud-rates. I'll have to store known working combinatio

[2021-11-15 07:02] tomguo2000 opened #1169 "ASCReader can support both dec and hex base"
**Is your feature request related to a problem? Please describe.**
[code]

it will appear :
frame.append(int(byte, 16))
ValueError: byte must be in range(0, 256)

**Describe the solution you'd like**
add more parameter when load asc file

**Describe alternatives you've considered**
None

**Additional context**
some can message record such as GL-3000, will output asc such as:

date Thu Sep 2 09:37:

[2021-11-15 19:15] MarcusVH98 opened #1171 "Add a method to the message-class that gives a bit-representation of a message"
**Is your feature request related to a problem? Please describe.**
I need to construct raw bit representations of can-frames.
Context: I am working on a project where I need to communicate wirelessly with a CAN-bus to receive data, and send a couple commands. I am planning to do this with a simple TCP-interface, where I send the can-frame to a node on the bus, which takes it out of the TCP-packet

[2021-11-16 21:34] #1046 closed

[2021-11-19 19:17] pradeeprajalingam commented on #287
Can you please let me know how to add 'can.interfaces.kvaser' to the hidden imports part of the .spec file?

[2021-11-19 19:31] pierreluctg commented on #1169
This is already supported by the `ASCReader` in develop branch, not yet in master.

See: https://github.com/hardbyte/python-can/blob/develop/can/io/asc.py#L73-L81

[2021-11-19 20:18] jagauthier opened #1172 "Sending CAN messages with specific ID?"
I'm implementing a CAN communication systems where each device may send messages along the bus with specific IDs.  ie: 0x140 is a health update.   I'm complementing the Python code with STM32.  I've implemented the CAN receiver (and a sender) with their API (http://www.disca.upv.es/aperles/arm_cortex_m3/llibre/st/STM32F439xx_User_Manual/structcan__txheadertypedef.html)

Specifically, assigned StdI

[2021-11-19 20:23] jagauthier commented on #1172
Well, I don't think StdID is standard CAN.  I checked the header, and arbitration ID should be used.

[2021-11-19 20:23] #1172 closed

[2021-11-26 11:16] Kochise commented on #1164
I understand that there may be many baudrates available, it was mostly to feed a combobox with "standard" rates. Yet some can adapters do not support 1M hence it would be pointless to pretend the user can select that speed if in fact it cannot.

I also reiterate

[code]

Because as you can see, not all adapters count the channels the same way, and again, it would be super handy to know in advance

[2021-11-26 14:37] nedlukasz opened #1175 "python-can 4.0.x can/util.py timing configuration do not allow int"
tseg1, tseg2, sjw cannot be configured as int.

Issue is located in file util.py in function _create_bus_config in line 235:
`timing_conf[key] = int(config[key], base=0)`

For example:
[code]

**Expected behavior**
For config[key] specified as string use int(config[key], base=0)
For config[key] specified as not string use int(config[key])

[2021-11-29 09:51] leu1dy opened #1176 "10ms periodic CAN frame exported in 17 ms"
Hello,

For automotive purpose, i need to export CAN frames every 10ms via PCAN device.

I made a small script for test to export this CAN frame but period is wrongly managed.

For 10ms, pcan view tool is showing a period of 17 ms.
For 20ms, pcan view tool is showing a period of 27 ms.

Here is the script :
done = False
bus = can.interface.Bus(bustype='pcan', channel='PCAN_USBBUS1', bitrate=500000

[2021-11-30 07:29] christiansandberg commented on #1176
Could you try using develop? There have been some improvements to periodic transmissions since last release.

[2021-11-30 14:42] leu1dy commented on #1176
Thank you so much, it's more reliable with the develop branch.

[2021-11-30 19:36] jamesxin opened #1177 "ics will crash when FD message's payload size is over 64 bytes"
**Describe the bug**
A clear and concise description of what the bug is.
If we send a FD message which is larger than 64 bytes ICS will crash instead of raising an exception.
**To Reproduce**
Steps to reproduce the behavior (please add longer code examples below):
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Throw an exception for a FD message with

[2021-11-30 21:22] pierreluctg commented on #1177
Hi @jamesxin can you please the version of `python-ics` that you are using and the stack trace if you are getting one?

[2021-12-01 21:54] jamesxin commented on #1177
I am using python-ics                        905.11.post1.

     Since this is a crash there is no exception for stack traces. I
collect the stack trace before we crash as below.

Traceback (most recent call last):
  File ".\FD_over_64_tester.py", line 53, in <module>
    send()

You can use the following code to reproduce the issue.

import time
import traceback, sys
import can
config = {'bustype

[2021-12-02 16:14] pierreluctg commented on #1177
@jamesxin please also note that `2000000` is not a valid `bitrate` value. In CAN FD this bitrate value is used for the arbitration phase.
You probably want the values to be set to `bitrate=500000` (arbitration phase) and `data_bitrate=2000000` (data phase).

[2021-12-02 17:34] jamesxin commented on #1177
@pierreluctg,
       Thank you for pointing that out. I am currently using 3.9.6.7.
Unfortunately It still crashed after I updated the bitrate to 500K. As I
remember, 'bitrate' should be ignored for CANFD.

Bests,

James

On Thu, Dec 2, 2021 at 11:14 AM pierreluctg ***@***.***>
wrote:

[2021-12-02 19:35] pierreluctg commented on #1177
@jamesxin the bitrate is still use in the case of CAN FD and this bitrate will be use for the data phase and the data phase if bit rate switching is not enabled. If bit rate switching is enabled then the data bitrate will be use for the data phase only.

In order to get more information on the issue you are experiencing, can you please enable the Python fault handler when running your code?

You c

[2021-12-02 21:18] jamesxin commented on #1177
Yes. Then we have the same understanding for the usage of bitrate.

I tried '-X faulthandler' but unfortunately it didn't work.

 *python -X faulthandler .\FD_over_64_tester.py*
*The can_config used {'bustype': 'neovi', 'serial': 'V23137', 'bitrate':
500000, 'channel': 1, 'data_bitrate': 2000000, 'fd': True}*
*Traceback (most recent call last):*
*  File ".\FD_over_64_tester.py", line 33, in <modul

[2021-12-02 21:35] marcel-kanter opened #1179 "Test of ixxat interface got over-simplified and now fails"
The HardwareTestCase got over-simplified in commit 48b2acf and now fails. This test case must be executed with at least one adapter connected to the test system.

The test method should be reverted back.

[2021-12-02 21:50] marcel-kanter commented on #1164
OK. I'm working on this. And I made an generalized addition to the BusABC which should be rolled out to all interfaces.
The term serial in the example above is a bit too specific, but the idea is good. I changed it to adapter - this can be used for tree structures (like the port in USB tree oder PCI too and does not imply that there is something like an serializing number for the actual interface

[2021-12-03 08:05] Kochise commented on #1164
Looks promising...

Yeah, 'serial' is more 'sn', which the adapters are often identified with a sticker on them. Helps to identify them apart when you have several attached on your computer.

[2021-12-03 13:04] marcel-kanter commented on #1179
@hardbyte or @felixdivo assign this to me
fix is in work already and will be included in the fix of #1164 because there some tests will be added

[2021-12-03 13:15] pierreluctg commented on #1177
@jamesxin can you share your `FD_over_64_tester.py` (attach it to your post)?

`bus.channel_info` is a string set in the constructor of the bus and do not change after. From what I understand in the trace log that you shared, this value/string is valid after send and displayed in your trace (four lines from the bottom).

If you are remove `print("Message sent on {}".format(bus.channel_info))` afte

[2021-12-03 14:30] jamesxin commented on #1177
`import can
import faulthandler

faulthandler.enable()
config = {'bustype': 'neovi', 'serial': 'V23137', 'bitrate': 500000,
          'channel': 1, 'data_bitrate': 2000000, 'fd': True}
print(f"The can_config used {config}")
bus = can.interface.Bus(**config)
bus.set_filters([{"can_id": 0x7E0, "can_mask": 0xFFFF, "extended": False},
                 {"can_id": 0x7E8, "can_mask": 0xFFFF, "extended":

[2021-12-03 16:59] pierreluctg commented on #1177
@jamesxin, ` 0xc0000374` is a heap issue.

Will fix this by avoiding passing maximum of 64 bytes of data to the driver.

Now the question is are you actually trying to send more than 64 bytes of data over a single frame? This will not be possible regardless of this error. A CAN FD frame supports a maximum of 64 bytes of data.

[2021-12-03 17:32] jamesxin commented on #1177
No. We won't send over 64 bytes in one FD frame. This issue is discovered by an accident.

[2021-12-04 17:43] felixdivo commented on #1177
Still thanks for the report, @jamesxin.

[2021-12-07 19:21] felixdivo commented on #1171
Did you consider running `python-can` on the other node for hardware interfacing and using some other TCP-based interface that `python-can` supports for the transport to the other node?

[2021-12-07 20:14] #1177 closed

[2021-12-08 01:59] jamesxin opened #1183 "Current DLC didn't support FD"
### Describe the bug

Technically DLC is only 4 bits long. DLC values ranging from 1001 to 1111 are used to specify the data lengths of 12, 16, 20, 24, 32, 48, and 64 bytes.  Currently Message.DLC is actually the data length instead of DLC. It is ok for classic CAN but for CAN FD it will cause the DLC value up to 64.

Timestamp:    30969.422452        ID: 03b3    S     F BS       DLC: 16    44 00

[2021-12-08 06:21] hartkopp commented on #1183
The DLC is something that happens on the wire.
For SocketCAN we decided to use and provide the 'plain length' value which is intuitive to use by application programmers.

We try to get rid of the can_dlc element in the struct can_frame and maintain it for compatibility reasons inside a union:
https://github.com/linux-can/can-utils/commit/c398e56afb9b60441232736e05fdfb5a525363ca#diff-befd25a84cf5bc

[2021-12-08 14:40] jamesxin commented on #1183
I don't think python-can having DLC issue on sending FD message. However, in the logging python-can is using data length for DLC. That is a miss leading for the CAN FD message.

[2021-12-08 20:56] zariiii9003 commented on #1183
We could replace the `"DLC"` with something like `"LEN"` in the `Message.__str__()` method. I agree with @hartkopp that the length is more useful than the length code.

[2021-12-09 04:32] temp369 opened #1185 "Vector hardware in ubuntu : ImportError: The Vector API has not been loaded"
Hi,

While checking with python-can in ubuntu 18.04, I am receiving this error:
ImportError: The Vector API has not been loaded

I hope this is an driver issue. How can I get the driver for Vector devices in Linux?

[2021-12-09 08:46] zariiii9003 commented on #1185
Vector interfaces are only supported on Windows ([see docs](https://python-can.readthedocs.io/en/develop/interfaces/vector.html)).
As far as i know Vector Informatik does not provide any linux drivers.

[2021-12-09 21:28] catosh opened #1186 "BLFParseError when handling Dante test suite files"
### Describe the bug
When importing a blf generated with Dante toolsuite, files containing LOBJ with obj_type = 128d shall not set next_pos += obj_size % 4.

### To Reproduce
I can't provide the full blf file, but this chunk leads to the error:
This part of the LOBJ has the obj size set to 4B
4C 4F 42 4A 20 00 01 00 4B 00 00 00 80 00 00 00 02 00 00 00 0C 00 00 00 25 92 18 68 4F 00 00 00 01 00 00 0

[2021-12-10 17:20] jamesxin commented on #1183
I would say "DL" (data length) is a good option.

[2021-12-10 19:58] christiansandberg commented on #1186
Have you tried with the develop branch? It has been changed to seek for the next object instead of calculating its offset.

[2021-12-11 14:02] hartkopp commented on #1183
Yes. I think "DL" as "data length" is also good in opposition to the  "DLC" as "data length _code_".

That makes it very clear that "DL" has no code ;-)

[2021-12-13 23:53] MohamedJP opened #1190 "Assigning Can Filters for mcp2515 CAN bus module on python"
so I am using the following method to filter messages between 2 controllers,but the issue with this method is that I can only filter up to 5
can_ids, so I was wondering if there is a better method to do that, knowing I am quite new to this and to python even.
bus.set_filters([{"can_id": 0x591, "can_mask": 0xFFFFFFF, "extended": False},\
    {"can_id": 0x592"can_mask": 0xFFFFFFF, "extended": False}

[2021-12-14 07:44] catosh commented on #1186
Hi christian,
thanks for the hint. I'll give a try and provide some feedback.

[2021-12-14 08:11] felixdivo commented on #1133
Yay, #1046 is complete. I'll provide a release candidate soon (when time permits).

[2021-12-14 08:18] felixdivo commented on #1185
Indeed, you'll probably have to use different hardware or contact Vector and demand better platform support.

[2021-12-14 08:18] #1185 closed

[2021-12-14 08:19] felixdivo commented on #1190
Why are you limited to 5 filters? And on which hardware/library version?

[2021-12-14 11:43] ARanvik opened #1192 "MCP2515 CAN frames with zero payload data"
Hello,

I'm using a Raspberry Pi 4 and an Arduino CAN Bus shield V2 with a level-shifter in-between. The CAN shield communicates via SPI and I'm using Linux SocketCAN driver:

dtoverlay=mcp2515-can0,oscillator=16000000,interrupt=25

sudo ip link set can0 up type can bitrate 500000

I plan to use CANopen protocol so to test against a connected node I did a simple expedited SDO exchange with the nod

[2021-12-15 01:55] NasrulhaqAbdullah opened #1193 "Thread Safe SocketCan Implementation"
Hi, can someone tell
me how to use this function? I am quite new to Python and it would be really helpful when there is an example on how to use it in a programming. I know that it is well written in the document but an example code would help me better in understanding the whole function of Thread Safe function. I intend to make can nodes possible to listen and also at the same time transmit can

[2021-12-17 09:30] ARanvik commented on #1192
A little update here, the same bus was tested using a Kvaser CAN USB adapter instead, all frames received from the nodes was correct. It was also found that on the original CAN shield the OBD power DIP switch was in the ON position even though the OBD port was not used. I am moving forward with the Kvaser adapter instead, but to conclude the possible causes could be:
- No OBD power causes the tran

[2021-12-17 09:30] #1192 closed

[2021-12-19 13:48] pkess commented on #1065
This is related to pr #1188. I had the same issue and updating pcan basic package on my pc solved the problem. With the mentioned PR you would get an error message when your pcan library version is to old

[2021-12-19 13:56] pkess commented on #933
@balumbo : It looks like you are using the pcan adapter on linux os. Is this correct? Normally when i use the pcan adapter with linux i am using the socketcan driver provided by peak and integrated in the kernel. With this you can use the `socketcan `backend of `python-can`
Maybe you can try to list the interface with `ip link` and check if there is an interface named `can0` or something similar

[2021-12-20 17:43] pkess commented on #585
I think this can be closed as converage is 100% now. If you see more tests do be added here i would like to implement this.

[2021-12-20 17:50] felixdivo commented on #585
Hey @pkess I've just now seen the **_great_** PR #1196. Sure, you are right!

[2021-12-20 17:50] #585 closed

[2021-12-20 17:52] felixdivo commented on #1065
As this issue is rather stale anyways, let us close it then.

[2021-12-20 17:52] #1065 closed

[2021-12-20 17:56] felixdivo commented on #1193
Does [this class](https://python-can.readthedocs.io/en/master/bus.html#thread-safe-bus) help? The syntax highlighting is rather messed up, I'll fix that.

[2021-12-21 00:04] adolfogc opened #1199 "Add Kvaser Leaf support on macOS"
### Is your feature request related to a problem? Please describe.
Add Kvaser Leaf support on macOS by using the MacCAN-KvaserCAN implementation (https://github.com/mac-can/MacCAN-KvaserCAN).

### Describe the solution you'd like
Add a new interface module to support using Kvaser Leaf on macOS.

### Describe alternatives you've considered
None.

### Additional context
Supporting this interface on

[2021-12-22 08:21] felixdivo commented on #1169
I assume this is resolved. If not, please comment.

[2021-12-22 08:21] #1169 closed

[2021-12-23 11:42] serkonda7 opened #1200 "module can has no attribute Bus when running the readme example"
### Describe the bug

See below.

### To Reproduce

[code]
Running the above code taken from the readme results in the following error:
[code]

### Expected behavior

The code shouldn't give errrors

### Additional context

OS and version: Kali Linux 2021.3 VM
Python version: 3.9.7
python-can version: 3.3.4
python-can interface/s (if applicable):

<details><summary>Traceback and logs</summary>

[c

[2021-12-23 13:01] serkonda7 commented on #1200
Installing not with pip but with the setup script fixed the problem.

[2021-12-23 13:01] #1200 closed

[2021-12-26 13:57] ayushmankumar7 opened #1202 "Can I use this with ELM327 USB?"
### Is your feature request related to a problem? Please describe.

On Connecting my ELM327 with the car and laptop, I don't find "can0" on doing ifconfig -a .

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-12-30 10:30] prajwal-mulkalwar opened #1203 "is there support for mcp2515 spi interfaced with Jetson Nano"
Im working on to intergrate  Jetson nano  through J1939 CAN, Im planning to use mcp2515 for can interface with nano, do have support for this interface

[2022-01-01 20:32] Tbruno25 commented on #1175
I'll take this issue!

[2022-01-03 20:11] John-Titor opened #1205 "Types from typechecking.py should be exported for plugin interfaces"
### Describe the bug
An interface plugin cannot fully implement typechecking due to not having access to some internal types; at least AutoDetectedConfig, Channel, and CanFilters could be exported in __init__.py to make this possible.

python-can version: HEAD

[2022-01-04 03:22] John-Titor opened #1206 "Nice to have a "local loopback" bus state"
### Is your feature request related to a problem? Please describe.
It would be nice to be able to request local loopback mode (for adapters that support it) using a standard API rather than a side-channel based on adapter-specific knowledge.

Local loopback (when supported) is a useful testing tool.

### Describe the solution you'd like
Something along the lines of a LOCAL_LOOPBACK entry in the en

[2022-01-05 10:13] zariiii9003 commented on #1205
[code]
This doesn't work for you? Are you using the develop branch?

[2022-01-05 21:44] John-Titor commented on #1205
Well, that's embarrassing. It certainly didn't when I tried earlier, but in attempting to reproduce in order to respond it's clearly working now, so I must have been doing something else wrong. Sorry about that!

[2022-01-05 21:44] #1205 closed

[2022-01-06 05:38] keelung-yang commented on #736
Why there is no a state to stand for RUNNING / NORMAL / BUS_ON ?

[2022-01-06 17:57] bggardner commented on #736
The `ERROR-ACTIVE` state is equivalent to "normal".  All three `ERROR-*` states mean the bus is "running", but in various states of error, and it could be argued that even "BUS-OFF" could be considered "running", as the bus can be recovered automatically without intervention.  `ERROR-ACTIVE`, `ERROR-PASSIVE` and `BUS-OFF` are defined in ISO 11898-1. `ERROR-WARNING` is really just `ERROR-ACTIVE` wh

[2022-01-09 18:35] trey-sygnalauto opened #1207 "BufferedReader returns oldest messages first"
### Describe the bug
BufferedReader.get is documented as returning the latest message: "Attempts to retrieve the latest message received by the instance.".  In reality BufferedReader.get returns the oldest message in it's queue.  This is because the queue is implemented using a SimpleQueue which is a FIFO type queue.

### To Reproduce
Receive CAN message and compare the order read using BufferedRe

[2022-01-10 14:28] zariiii9003 commented on #1207
I think FIFO is the expected behavior of a buffer. The docstring is incorrect.

But we could add a `use_lifo`  keyword argument in the `__init__()` method to support both FIFO and LIFO.

[2022-01-10 15:05] trey-sygnalauto commented on #1207
I agree.

I think it really depends on what kind of message/data/protocol is being used on the CAN bus.  If I've got a message that just has sensor data on it, I want the latest data.  If there's an underlying protocol like ISO15765-2 then I want the messages in order.

[2022-01-11 14:59] FilipZZZ commented on #1207
I use it as it is (FIFO behaviour) and it always made sense to me. I believe other people use it like that too so I hope this fix will not cause much trouble.

[2022-01-13 04:41] MohamedJP commented on #1190
So sorry for the late reply, and thanks for your prompt reply @felixdivo
I am building can bus for transmission between multiple rasberry pies, and I wanna use the bus filter to limit the data processed at each node, but this way can only limit up to 5 signals ( 5 can IDs) if I added anymore the filter will not work correctly for some reason.

[2022-01-13 09:15] felixdivo commented on #1190
Interesting. So do you use socketcan? That's the interface "type" (the driver, if you want) that you set in `can.Bus(interface='socketcan', ...)`.

[2022-01-13 10:24] sriveco opened #1210 "can.LogReader error on opening "filename.with.too.many.dots.blf""
### Describe the bug
in python3 repl
[code]
### To Reproduce
Open a log file with more then one period in it.

### Expected behavior
The file should be opened as a blf file
If the file is renamed to "test.blf" the conversion works properly

### Additional context

OS and version: Ubuntu20.04 in WSL `Linux TL0213507 4.4.0-19041-Microsoft #1237-Microsoft Sat Sep 11 14:32:00 PST 2021 x86_64 x86_64 x8

[2022-01-13 16:49] keelung-yang commented on #528
@christiansandberg, @hardbyte
This issue is opened in 2019 and closed in 2020. And now it's 2022. So it should be reopened again before releasing v4.0?

Python-can supports PyPy. So what's about following python3 versions in PyPy?

Seems Python 3.8 is better than 3.6:
- Debian 11 released with Python 3.9
- PyPy supports Python 3.8 now
- Ubuntu 20.04 includes Python 3.8
- In Ubuntu 18.04, you can i

[2022-01-13 16:58] danielhrisca commented on #528
FYI: ``numpy`` also dropped Python 3.7 support

[2022-01-13 17:14] felixdivo commented on #528
Dropping 3.6 seems reasonable since [it has reached end-of-life](https://endoflife.date/python).

I don't see the point of dropping support for 3.7 if there isn't a good feature for which we require 3.8+.

[2022-01-13 23:21] MohamedJP commented on #1190
@felixdivo Yes，I do use socketcan as my interface with can0 as the channel, the whole program works just fine, only this issue is happening, but I wonder if @zariiii9003  solution did fix the problem or  not, I actually dont get it, did he update the whole library (python-can or can-utils ) ?

how to utilize (Add utility function create_filter) ?

[2022-01-14 01:58] XXIN0 opened #1211 "Vector hardware,no ack can not raise can.CanError"
### Describe the bug

HI,
I want to test the can transmit without ack,but it can raise can.CanError.
![image](https://user-images.githubusercontent.com/41498132/149438037-b9fbbf65-9e73-4c90-b634-df8bbfdbf94d.png)

### Additional context

Python version:3.7.9
python-can version: 3.3.4
python-can interface/s (if applicable): Vector CANcaseXL

[code]

[2022-01-14 04:01] keelung-yang commented on #528
Same as in IPython: [Minimal Python is now 3.8](https://ipython.readthedocs.io/en/stable/whatsnew/version8.html)

There are two features added in [Python 3.9](https://docs.python.org/3/whatsnew/3.9.html):

- The socket module now exports the `CAN_RAW_JOIN_FILTERS` constant on Linux 4.1 and greater
- The socket module now supports the `CAN_J1939` protocol on platforms that support it

So Python 3.9

[2022-01-15 09:32] felixdivo commented on #1203
It should work with [the `socketcan` interface](https://python-can.readthedocs.io/en/develop/interfaces/socketcan.html) according to [this](https://www.beyondlogic.org/adding-can-controller-area-network-to-the-raspberry-pi/):

If you have problems, fell free to comment on this/reopen this.

[2022-01-15 09:32] #1203 closed

[2022-01-15 09:35] felixdivo commented on #1202
Apparently `socketcan` does not support it, and we probably don't either. You might get it to run with [norly/elmcan](https://github.com/norly/elmcan).

If you have more problems with this library once it is recognized by the Linux kernel, feel free to comment again or reopen this issue.

[2022-01-15 09:35] #1202 closed

[2022-01-15 09:36] felixdivo commented on #1203
Apparently the chip is supported:  #1190

[2022-01-15 20:33] #1193 closed

[2022-01-15 20:35] felixdivo commented on #1186
@catosh How did it go?

[2022-01-15 22:13] felixdivo commented on #528
If you think that we should drop support for more than 3.6, we should probably open a new issue. This topic ("What to do in 2020 - Python 2 EOL") is over. 😃

[2022-01-15 23:16] zariiii9003 commented on #1211
You need a another device on the physical CAN bus to acknowledge your messages. Otherwise you have the option to use the Virtual Channel in Vector HW config. Then you don't need any receivers.

Would you mind posting your Traceback?

[2022-01-15 23:21] felixdivo commented on #791
Huh, this did not age well ... (#1133)

[2022-01-16 01:37] Tbruno25 commented on #1210
I can take this issue.

[2022-01-16 06:15] Tbruno25 commented on #1210
I'm unable to reproduce on Ubuntu 20.04.3 LTS.

Maybe this only occurs when using WSL? Unfortunately I don't have a Windows system available to test.

[2022-01-16 08:45] felixdivo commented on #1210
I can reproduce it on Python 3.10 @ Win 10 on `develop`. I think the problem is here:

[        suffix = "".join(s.lower() for s in pathlib.PurePath(filename).suffixes)](https://github.com/hardbyte/python-can/blob/2604b6d8262c96aaadbd4f0a6f870940b52ac9f1/can/io/player.py#L80)

We should probably just replace it with `suffix = pathlib.PurePath(filename).suffix`.

[2022-01-16 08:46] felixdivo commented on #1210
In any case, we should add a regression test for this. Strange that this never occurred ...

[2022-01-16 08:52] felixdivo commented on #1210
Incidently, that was the case some while ago, and apparently it was changed ... (I found this PR (#895) while compiling the new changelog.)

Git blame revealed that #1138 eventually changed it in order to detect files like `*.asc.gz`. Seems like that change was not tested with this (not so corner) case.

So maybe the fix is not *as* simple, but it should still be fairly straightforward to fix, I g

[2022-01-16 08:54] felixdivo commented on #1210
We could replace `GzipASCReader` by a `GzipReader` that just consumes the last suffix and then uses `LogReader` internally again to determine the reader once compression was removed (from the file and file name). This would actually be a nice feature since other readers would be supported too.

[2022-01-16 10:55] pkess commented on #1207
I also agree that most common use for a buffered reader is to use a fifo and do not lifo. I would suggest to improve the docstring instead of the implementation.

@trey-sygnalauto Can you give an example where you need a last in first out feature?

[2022-01-16 10:58] pkess commented on #1206
I think for testing the virtual bus can always be used. A loopback with specific hardware will always require adapter specific knowledge.

[2022-01-16 12:59] catosh commented on #1186
Had not the chance yet to check. I plan to test during WW3.

[2022-01-16 15:31] trey-sygnalauto commented on #1207
I'm good with just changing the docstring.

I have a seed key exchange mechanism in an external device that is used to reset certain states.  Seed messages are sent out periodically so if I get the oldest message I end up generating a key with a seed that is no longer valid.  I'm more of an embedded C guy so my initial solution after discovering the BufferedReader wasn't behaving as documented was

[2022-01-16 15:37] #1175 closed

[2022-01-16 17:09] pkess commented on #584
I think with #1198 this issue can be closed now. If you want additional tests just let me know

[2022-01-16 17:31] zariiii9003 commented on #1190
It is just a pull request for now, it is not part of the python-can codebase (and maybe it won't be). The pull request contains a convenience function to calculate the filter.

Regarding your question: You only need one `can_id` and one `mask`:
[code]

The `mask` defines which bits are relevant and the `can_id`/`code` defines the value of these bits.

[2022-01-16 18:10] MarcusVH98 commented on #1171
Thank you for the suggestion. The embedded micro-controllers can only run C, so I'm not sure that would work. After digging some more in the source code I found in `can.interfaces.socketcan.socketcan` the functions `build_can_frame` and `dissect_can_frame` which seem to do what I want though. I will test it out on the hardware in a couple weeks.

[2022-01-16 18:24] zariiii9003 opened #1219 "Is Travis CI disabled?"
[The last Travis CI run was 7 months ago](https://app.travis-ci.com/github/hardbyte/python-can/builds).
We still have our socketcan tests and mypy on Travis only. Also the Travis badge link is broken.

[2022-01-16 18:46] #584 closed

[2022-01-16 18:54] felixdivo commented on #1219
Well, the `.travis.yml` file is still in the repo.

[2022-01-16 18:58] felixdivo commented on #1171
Keep in mind that the functions in `can.interfaces.socketcan` translate between python-can and the socketcan driver of Linux. Those are not the bit representations that you see on the wire!

[2022-01-16 19:01] zariiii9003 commented on #1219
Maybe @hardbyte needs to grant Travis access rights again

[2022-01-16 19:16] felixdivo commented on #1133
#1216 adds a changelog

[2022-01-17 03:24] XXIN0 commented on #1211
Hi，
It didn't have Traceback,if use my way to send message.I think when the bus timeout,it will raise an error.

If I use the software:"Busmaster",it will raise an error,I don‘t know the diffrence between the "python-can" and "busmaster"
![image](https://user-images.githubusercontent.com/41498132/149702977-5cb7b3af-be9d-46a0-bc66-0845dcb2f618.png)
![image](https://user-images.githubusercontent.com

[2022-01-17 06:06] felixdivo commented on #1211
Sorry @XXIN0, but I do not understand how python-can comes into play here where the problem is that you want to report or get assistance with.

[2022-01-17 09:27] XXIN0 commented on #1211
for example，if I don't connect any devices,when I send an can message,it will raise an error that tell me the send is not ok.

[2022-01-17 09:35] zariiii9003 commented on #1211
Which one of these options is your problem?

1. You expect an error, but you don't get any.
2. You excpect no error, but you get can.CanError.

[2022-01-17 10:51] keelung-yang opened #1220 "Python 3.7, 3.8, 3.9, or 3.10 as minimal version"
Hi,
This is continued discussion of Python3 at the end of #528 which is about Python2.
I summary pros and cons dicussed in #528 and important features in official What's new in Python 3.X

Python 3.10
___________
Pros:

- Structural Pattern Matching
- Allow writing union types as X | Y
- Parenthesized context managers

Cons:

- Latest Python version, most Linux distros now support now
- No PyPy3.1

[2022-01-17 12:07] XXIN0 commented on #1211
1 is my expect

[2022-01-17 15:17] MarcusVH98 commented on #1171
I see, that would be a problem for me. I was thinking, since python-can supports interfacing with a physical can bus, there is a conversion to a "real" can frame that would be observed on the wire, is that not the case? Is that conversion in the different drivers utilized? I tried finding such a conversion in socketcan, but was unable to. I'm considering giving it a go to manually encode/decode.

[2022-01-17 17:53] felixdivo commented on #1171
I don't know of any driver that does this. It's usually done by a more low-level component. (Note: You would also have to consider bit stuffing.)

[2022-01-17 19:42] felixdivo commented on #1220
First of all, thank you @keelung-yang for your overview!

However, I still hold the position that dropping 3.7 or even 3.8 would not help the library significantly. In general, I'm totally *for* dropping support for old platforms/tools/... as soon as they reach EOL or newer versions offer great new features. That was certainly the case for 3.6 which added f-strings and syntax for variable annotati

[2022-01-18 03:00] Tbruno25 commented on #1210
@felixdivo took a first pass at this in #1221 -- let's continue the discussion there.

[2022-01-18 07:35] MarcusVH98 commented on #1171
Thanks for the reminder, I'll make sure to account for bit stuffing. And thank you so much for the help, I'm sure I'll figure something out. :-)

[2022-01-18 07:35] #1171 closed

[2022-01-18 08:16] felixdivo commented on #1210
Thanks @Tbruno25 for tackling this!

[2022-01-18 08:20] felixdivo commented on #1171
Happy to help. :)

You might want to look at [`bitstring`](https://bitstring.readthedocs.io/en/latest/packing.html), it might be trivial to implement (all but bit stuffing) in there.

[2022-01-18 13:00] itzranjeet commented on #589
[code]
This writes to the same line.
I MEAN DATA IS REWRITTEN.

[2022-01-18 13:19] felixdivo commented on #589
Maybe you want to pass `append=True`? See [here](https://python-can.readthedocs.io/en/develop/listeners.html#can.BLFWriter). If not, please open a new issue. This one is 2.5 years old and closed.

[2022-01-19 08:30] hongjojjay opened #1222 "Use can.logger only log received msg to file, but send msg can not logged"
### Describe the bug
I use this below code, only received msg can save to hello.asc file, but send msg can not be saved. How to save the send msg?
tmplogger = can.Logger("hello.asc")
self.bus.add_listener(tmplogger )

### To Reproduce
None

### Expected behavior
None

### Additional context

OS and version: win10
Python version: 3.7.7
python-can version: 37.0.1
python-can interface/s (if applicabl

[2022-01-19 17:23] atheler commented on #957
Big thanks to everyone for fixing this! I have 4.0.0.dev2 on my machine and it works like a charm.

[2022-01-20 07:47] felixdivo commented on #1133
Waits for a regression to be fixed by #1221. Then there will be version `4.0.0-rc.0` and an announcement issue.

[2022-01-21 03:12] keelung-yang opened #1225 "Filter messages by list of CAN-IDs"
Some MCUs, such as STM32 and NXP LPCxxx, support filtering messages by list or range of CAN-IDs.
Some CAN devices, which using such MCUs, provide list-only or both list and mask filters in official development library.

Maybe filtering by mask is the most popular ways, but filtering by list shouldn't be ignored.
In python-can, only filtering by mask is supported currently.

[2022-01-21 08:54] zariiii9003 commented on #1222
Most interfaces support the `receive_own_messages` keyword for that.

[2022-01-21 09:45] felixdivo commented on #1222
However, `pcan` does not seem to have that: https://python-can.readthedocs.io/en/develop/interfaces/pcan.html#bus

[2022-01-21 10:55] felixdivo commented on #1220
I propose continuing the discussion once 4.0.0 is out. @keelung-yang you are right in that we should discuss this, so we should leave this open!

[2022-01-21 11:50] zariiii9003 commented on #1222
Also VectorBus says this:
https://github.com/hardbyte/python-can/blob/d8e9dc5a64326926f744ecd2a9d0658a2acac5ed/can/interfaces/vector/canlib.py#L98
But BusABC does not mention `receive_own_messages`. Maybe we should add it to the BusABC arguments.

[2022-01-22 19:20] brent-stone opened #1227 "Add mypy typing support"
### Problem
Downstream projects using mypy and other automated tooling need can.Message to have proper type hints

### Solution
Accept my pull request from brent-stone:mypy_support

### Alternatives
Gradually introduce modern (3.9+) typing into the python-can package.

[2022-01-23 16:39] brent-stone commented on #1227
This is being implemented with the type hinting the dev branch. Closing.

[2022-01-23 16:39] #1227 closed

[2022-01-23 18:56] felixdivo commented on #1227
Still thank you for your quick effort in #1226!

[2022-01-23 19:00] #1183 closed

[2022-01-23 20:29] zariiii9003 commented on #1227
@felixdivo We might need to include a [py.typed](https://www.python.org/dev/peps/pep-0561/#id13) file so mypy works for downstream packages. But i'm not sure if it causes problems since `can.interfaces` is not really well annotated.

[2022-01-24 12:14] prajwal-mulkalwar commented on #1203
Hi Thank you for response.
how do implement J1939 protocol with this, can you provide any guidelines or examples

[2022-01-24 13:29] felixdivo commented on #1203
Please get it to run on socketcan first. You can check whether it works with `can_utils`. Then run the example from the `README.md`. You also need to set the `channel=...` to the correct interface, you can list all interfaces by `ip a` (it's probably `channel="can0"`).

[2022-01-26 08:04] felixdivo opened #1230 "Turn the CI green before the next release"
Most of the work was done in #1224 and  #1221, but maybe small stuff is left and we want to have a clean release.

[2022-01-26 08:06] felixdivo opened #1231 "Finalize changelog"
There we a few small changes since #1216.

[2022-01-26 08:19] zariiii9003 commented on #1230
There are also some deprecation warnings that we could fix

[code]

[2022-01-26 21:32] keylevel commented on #1117
I am seeing similar with 0.10.1. I'm using CanAnalyzer to receive the messages and can see they are sent out with the wrong ID and always have a DLC of 0.

Diffing the PCANBasic.py example file that ships with MacCAN against basic.py shows they are basically the same, with the MacCAN version possibly being more up-to-date (except it uses 'print' instead of 'logger') and correctly using c_uint (it

[2022-01-27 06:50] felixdivo opened #1234 "Remove use of pkg_resources when not supporting Python 3.7 any more"
Currently, a fallback to `pkg_resources.iter_entry_points` is used in `can/interfaces/__init__.py`. However, the [setuptools docs](https://setuptools.pypa.io/en/latest/pkg_resources.html) state:

On Python 3.8+, `importlib.metadata` is [part of the standard library](https://docs.python.org/3/library/importlib.metadata.html), so there should be no need to keep `pkg_resources.iter_entry_points` arou

[2022-01-27 08:46] akasonu opened #1236 "Receiving ERR_QUEUE_FULL error while replaying a log file over a Vector interface via python-can but runs fine while using Vector CANoe replay block"
I am trying to replay a BLF file using python-can over a vector interface with an implementation of MessageSync iterator object and can.send operating on the yielded messages. While it functions for 20-30 seconds as expected but after that it keeps raising ERR_QUEUE_FULL exception while sending CAN messages. Have tried to handle that using can_bus.flush_tx_buffer() and can_bus.reset() but to no ef

[2022-01-27 08:51] #1210 closed

[2022-01-27 09:06] keelung-yang opened #1237 "Add bus and message padding support"
Some vehicle manufacturers require padding all messages in their diagnstic CAN bus.
And as described in ISO 15765-2-2011 `9.4.2.1 CAN frame data padding`:

So padding in bus level should be supported.
And also padding in message level should be supported too, for mixed padding/no padding CAN messages, such as cycle message no padding but diagnostic have in a same bus.

[2022-01-27 12:25] zariiii9003 commented on #1237
ISO-TP is out of scope for this library. [Here is an iso-tp package](https://github.com/pylessard/python-can-isotp) that is supposedly compatible with python-can.

[2022-01-27 12:25] #1237 closed

[2022-01-27 12:28] zariiii9003 commented on #1236
You probably have errors on the bus which prevent the messages from being sent. Is there another device on the CAN which can acknowledge your messages?

[2022-01-27 12:57] akasonu commented on #1236
Is there another device on the CAN which can acknowledge your messages?
Yes. There is another real ECU for acknowledgement of Tx messages. This runs fine if I keep a decent wait time(10 ms - minimum that time.sleep can provide) between consecutive messages. Drawback is that with the wait time injection, it takes 6x-7x times the actual replay time.

[2022-01-27 14:29] felixdivo commented on #1220
Related: #1234

[2022-01-27 15:48] felixdivo commented on #1081
ping @hardbyte

[2022-01-28 08:12] #1231 closed

[2022-01-28 08:14] felixdivo commented on #1133
Okay, so the blocking #1221 and #1230 are resolved. Everything is implemented for the release.

[2022-01-28 08:54] felixdivo opened #1242 "Update CONTRIBUTERS.txt and history.rst"
Both files should be updated before the final release `4.0.0`.

Mentioned in  #1241.

[2022-01-28 16:31] jazi007 opened #1243 "[io][canutils] Rx/Tx missing in read and write"
### Is your feature request related to a problem? Please describe.
using asc2log information about message direction is present at the EOL with python-can this direction is ignored during parse and write (https://github.com/linux-can/can-utils/blob/master/asc2log.c#L186)
[code]

### Describe the solution you'd like
Add message direction support. I can provide a PR to "fix" this.

[2022-01-29 16:28] jazi007 opened #1245 "[io][asc]: parser / writer using DLC as data length"
### Describe the bug
**Reader**
https://github.com/hardbyte/python-can/blob/develop/can/io/asc.py#L197: using DLC (data length code) from ASC as dlc (Data length) in python-can message. I think `data_length` must be used instead

**Writer**
https://github.com/hardbyte/python-can/blob/develop/can/io/asc.py#L384: inverse is done here. instead `len2dlc(msg.dlc)`

### To Reproduce
asc_bug.py at python

[2022-01-31 07:01] TannerGilbert opened #1247 "Unable to automatically find the Kernel headers. These are mandatory to build the pcan driver. Please set the KERNEL_LOCATION variable to the root directory of your own built Kernel.". Stop."
I'm currently using the [PCAN-USB](https://www.peak-system.com/PCAN-USB.199.0.html?&L=1) and the `python-can` library to read sensor values from my ESC using a code that look something like the following:

[code]

On my local and remote Linux machines, that works fine, but when trying to run the PCAN driver installation in Docker, I'm getting the following error:

[code]

Dockerfile:

[code]

Is t

[2022-02-04 00:23] wiboticalex opened #1248 "TypeError: dict.get() takes no keyword arguments during USB2CAN initialization"
### Describe the bug

When trying to use the usb2can interface, I get the following error:
TypeError: dict.get() takes no keyword arguments

### To Reproduce

[code]

Removing `d=` from line 106 in usb2canInterface.py seems to fix the issue and pass in the channel as the device_id as a positional argument.

### Expected behavior

The usb2can interface initializes without a TypeError.

### Addition

[2022-02-04 20:15] felixdivo commented on #1133
A new release candidate is available, [`4.0.0rc0`](https://github.com/hardbyte/python-can/releases/tag/4.0.0rc0)! :partying_face:

You can install it with `pip install python-can==4.0.0rc0`.

[2022-02-04 20:16] felixdivo commented on #1133
Btw, #1249 is not included in that release. It will be in the next one or the full release, depending of whether we need a second *rc* build at all.

[2022-02-04 20:19] #1248 closed

[2022-02-04 20:21] felixdivo commented on #1242
Help is welcome. While writing the `4.0.0rc0` release notes on GitHub, this neat list got created automatically (for the changes since the latest `3.x` release):

----

#### New Contributors

* @marcel-kanter made their first contribution in https://github.com/hardbyte/python-can/pull/562
* @bessman made their first contribution in https://github.com/hardbyte/python-can/pull/701
* @koberbe made th

[2022-02-04 20:22] felixdivo commented on #1248
Thanks @wiboticalex for reporting!

As a side question, how did you get the nice traceback (that lists the values of the variables)?

[2022-02-04 20:31] wiboticalex commented on #1248
The exception was generated using loguru with https://loguru.readthedocs.io/en/stable/api/logger.html#loguru._logger.Logger.exception

[2022-02-04 20:31] hardbyte commented on #1242
Well that's handy!

[2022-02-04 20:32] felixdivo opened #1250 "Please test the new 4.0.0rc0 pre-release - A lot has changed"
A new release candidate is available, [4.0.0rc0](https://github.com/hardbyte/python-can/releases/tag/4.0.0rc0)! It includes a ton of improvements from 2.5 years of development! :partying_face: You can install it with `pip install python-can==4.0.0rc0`.

**We need your help:** Please test the new release against your hardware and your own software and tools. If you experience problems (bugs, perfor

[2022-02-04 20:34] felixdivo commented on #1242
Oh. I realize that I probably just pinged all of you by including that snipped. Anyways, thank you all for the great collaboration!

Yes! One pretty much only needs to copy it over to the CONTRIBUTORS file.

[2022-02-04 20:36] felixdivo commented on #1133
See  #1250. Thank you for your patience. :smiley:

[2022-02-04 20:36] #1133 closed

[2022-02-04 21:07] hardbyte commented on #1242
I'll remove email addresses from the CONTRIBUTORS file and add a link to https://github.com/hardbyte/python-can/graphs/contributors

Do you think adding github handles directly to `CONTRIBUTORS` is worthwhile?

[2022-02-05 13:06] dpatel20 opened #1253 "XL_ERR_QUEUE_IS_FULL when sending large data (Vector hardware)"
### Describe the bug
I am using udsoncan to run some diagnostics, including 'Transfer Data'. As part of this, I send 4kB packets using transfer data of UDS (utilising python-can-isotp via udsoncan).

Randomly I get XL_ERR_QUEUE_IS_FULL whilst python-can is part way through.

What I **believe** is happening is that ```xlCanTransmit()``` is being called before it has finished sending the previous me

[2022-02-06 09:17] felixdivo commented on #1247
Which part of the Dockerfile prints the error? Is it one of the `make` invocations? Then this isn't an issue with python-can itself but rather with PEAK's software not working in Docker (skipping `pip install [...] python-can[...]` should fail too).

[2022-02-06 10:22] felixdivo commented on #935
I think this is completely covered by #1234

[2022-02-06 10:23] felixdivo commented on #1222
I think we should close this issue (not a bug, just bad docs) and open a new one for improving documentation (and possibly the naming) of common parameters. Maybe we could also add a table comparing all the interfaces and their capabilities.

[2022-02-06 10:28] felixdivo commented on #376
I think this is sufficiently covered by that.

[2022-02-06 10:28] #376 closed

[2022-02-06 10:30] felixdivo commented on #285
Done in  #611

[2022-02-06 10:30] #285 closed

[2022-02-06 10:37] felixdivo commented on #181
It is somewhat implemented using a single timeout for all operations on that channel, provided at bus creation time.

[2022-02-06 10:37] #181 closed

[2022-02-06 10:38] felixdivo commented on #696
No need to keep this around since MF4 support was never merged

[2022-02-06 10:38] #696 closed

[2022-02-06 10:42] felixdivo commented on #728
Loading of the ucan DLL probably failed and got unnoticed. It is probably fixed by #1158, see [this](https://github.com/hardbyte/python-can/pull/1158/files#diff-24430eec1b6a63fd7a7938badd4d7665fc44f31ccf7a465b2c375e3286dcab11R331-R335). If the problem persists, please reopen or comment.

[2022-02-06 10:42] #728 closed

[2022-02-06 10:45] felixdivo commented on #878
This should be covered by  #1170

[2022-02-06 10:57] felixdivo commented on #805
I can't reproduce this any more.

I did this in Docker (`docker run -it python:3.10 bash`) for the current `develop` branch:

[code]

Only IPv6 stuff of the interface `udp_multicast` fails.

Also, skipping `python setup.py install` works.

In any case:

[code]

Thus, this seems to be resolved.

[2022-02-06 10:57] #805 closed

[2022-02-06 10:59] felixdivo commented on #1186
Any updates on this, @catosh? :smiley:

[2022-02-06 11:55] dpatel20 commented on #1253
According to [this page](https://support.vector.com/kb?id=kb_article_view&sysparm_article=KB0011439&sys_kb_id=663313f687b33c10b9f233770cbb3582&spa=1):

Suggesting that the bus data rate needs to be respected to avoid this error.

Also, this [comment ](https://github.com/rbei-etas/busmaster/blob/de29ec1514558b3b7e0504e07d38ce0d65616d0f/Sources/BUSMASTER/CAN_Vector_XL/CAN_Vector_XL.cpp#L1805) sugges

[2022-02-06 14:44] jazi007 commented on #1236
@akasonu: Are you filtering RX messages for the replay ?

[2022-02-06 16:48] akasonu commented on #1236
@jazi007 Assuming that you are asking that if the Rx messages in replay trace - Yes. The Rx messages are filtered out as per message IDs and only the Tx messages are sent to avoid redundancy of CAN messages in network. But one point that might be relevant here is the Tx message traffic is high with consecutive messages in trace sent between 1-5 ms in some cases.

[2022-02-06 19:44] hartkopp commented on #1247
The PCAN drivers are part of the Linux Kernel - there is usually no need to compile the out-of-tree PCAN Linux drivers (unless you need the chardev API).

Peak CAN Hardware usually runs out-of-the-box with the shipped CAN network (aka SocketCAN) drivers.

See their own website:
https://www.peak-system.com/fileadmin/media/linux/index.htm

[2022-02-07 12:55] Omkar-KAN opened #1254 "Unable to receive correct data"
### Describe the bug
Not receiving correct data from can interface

### To Reproduce
Send a single message through kvaser can channel 0 using
msg = can.Message(arbitration_id=0x131, dlc = 6, data=[1, 2, 3, 12, 10, 11], is_error_frame=False, is_extended_id=False)
bus.send(msg)

Using kvaser can channel 1 interface
for msg in bus
  Print (msg)

Same as the documentation

### Expected behavior
We sho

[2022-02-07 13:10] felixdivo commented on #1254
Are the channels connected, i.e. are you expecting to read the data you send one the first from the second? Is this the same `bus` instance?

You could also use the most recent version and check if the problem is already fixed with `pip install python-can==4.0.0rc0`.

[2022-02-07 19:18] MunchZkin commented on #1254
Hey! Sorry I did not format that bug report properly, Thank you very much!
I tried upgraded python-can to the most recent version but I still do not have any luck.
To test this can interface I am using [Kvaser USBcan Light 2xHS](https://www.kvaser.com/product/kvaser-usbcan-light-2xhs/) and connected the high and low respectively.

To send a single message I use
`import can`
`bus = can.interface.Bu

[2022-02-07 20:38] Rampagy opened #1255 "4.0.0rc0 blf conversion"
### Describe the bug

If I convert a .blf to .asc and then back to .blf my expectation is that the original and resulting blf would be very similar in size.  Version 3.3.4  produces a blf that is much more similar in size than what 4.0.0 does.  What is all the extra data?

Version 3.3.4:
![version3 3 4](https://user-images.githubusercontent.com/32419459/152867062-2bac306a-98f4-403b-88c5-7eb3c48c86

[2022-02-07 21:19] #1242 closed

[2022-02-08 06:10] christiansandberg commented on #1255
The default compression level has changed from max (9) to the default of zlib (6 I think). This is because while 9 gives slightly smaller files it is much slower, so for most applications it is not worth it. But you can still pass that as an argument to BLFWriter.

[2022-02-08 07:11] danielhrisca commented on #1250
I get the following error when I replay an ASC file:

[code]

the error occurs [here](https://github.com/hardbyte/python-can/blob/develop/can/io/asc.py#L225)

[2022-02-08 09:01] felixdivo opened #1256 "Error when replaying ASC file"
I get the following error when I replay an ASC file:

[code]

the error occurs [here](https://github.com/hardbyte/python-can/blob/develop/can/io/asc.py#L225)

This is the input file
[CAN.txt](https://github.com/hardbyte/python-can/files/8021586/CAN.txt)

_Originally posted by @danielhrisca in https://github.com/hardbyte/python-can/issues/1250#issuecomment-1032280811_

[2022-02-08 11:11] zariiii9003 commented on #1256
I'll take a look. I probably caused it.

[2022-02-08 16:33] Rampagy commented on #1255
I tried and now the results match my expectation!

[2022-02-08 16:33] #1255 closed

[2022-02-08 21:28] dpatel20 commented on #1236
Are you using `can.player` or have you created your own player using `MessageSync` class?

The Vector driver (used by python-can under-the-hood) does use the transmit queue you mention. However, if it is the **same** PC where CANoe plays it back correctly then, python-can can possibly play it back too.

Do you see any buffer full errors in CANoe write window? If so, then even CANoe can't play it b

[2022-02-08 21:59] catosh commented on #1186
Hello,
looks like it is working (just removed can-fd IDs and my user from the
screenshots):

import can

if __name__ == '__main__':
    print(can.__version__)
    data = can.BLFReader( "log2.blf")
    for elem in data:
        print(elem)

4.0.0-dev.2

Timestamp: 1634296999.189272    ID: X Rx     F BS       DLC:  8    02
3e 80 55 55 55 55 55     Channel: 0
Timestamp: 1634297010.304660    ID: X Rx

[2022-02-09 10:09] felixdivo commented on #1186
Great! (There is an even newer version now, btw. 😄  #1250)

I'll close this then. Thanks for having a second look.

[2022-02-09 10:09] #1186 closed

[2022-02-09 10:20] felixdivo commented on #1225
See also  #1208

[2022-02-09 10:23] felixdivo commented on #1225
Filtering by blacklist/whitelist given by a `set` should be fairly efficient too even for large numbers of IDs. Maybe there is even a special data structure for integer sets outside the standard library.

[2022-02-09 10:24] catosh commented on #1186
ok, I'll test also with that then :)

Il giorno mer 9 feb 2022 alle ore 11:09 Felix Divo ***@***.***>
ha scritto:

[2022-02-09 10:48] Omkar-KAN commented on #1254
I tried the exact same script you shared to send a single message, but I still received the same wrong message. I also tried to send data using PCAN PCI but no luck! and when I reversed the Rx Tx I received `Bus error: an error counter reached the 'heavy'/'warning' limit`

Regarding receiving multiple messages, yes I do not receive any messages on the listener until any data is transmitted over th

[2022-02-09 15:33] felixdivo commented on #1254
Uhm, do I correctly assume @Omkar-KAN and @MunchZkin, you are the same person? ^^

[2022-02-09 15:51] Chris-Idema-WizzDev opened #1258 "Not receiving any data"
### Describe the bug

I cannot receive any messages with python-can. Sending does work. I can send and receive messages with can-utils cansend/candump.
I use custom hardware and custom drivers:
Drivers:
https://github.com/ucandevices/CFDC_embedded
Firmware:
https://github.com/Chris-Idema-WizzDev/CFDC_embedded
Firmware and hardware based on:
https://github.com/ucandevices/ucan_utils

### To Reprodu

[2022-02-09 16:22] Omkar-KAN commented on #1254
Yes, That's me

[2022-02-09 20:42] Chris-Idema-WizzDev commented on #1258
I found the cause. I explicitally need to enable CAN-FD, even though the messages are not CAN-FD.
[code]

[2022-02-09 20:42] #1258 closed

[2022-02-10 09:26] TannerGilbert commented on #1247
@felixdivo thanks for the reply. The error is occuring when running `make clean`.

[2022-02-10 09:31] TannerGilbert commented on #1247
Also for more detail here is the `docker-compose.yml` I use:

[code]

[2022-02-10 11:02] hartkopp commented on #1247
Is it possible that this is a Windows setup where you would need the 'pcan' library to access the PEAK hardware under Windows OS?

For Linux the CAN interfaces should use bustype socketcan, see:

https://python-can.readthedocs.io/en/master/interfaces/socketcan.html

When attaching the PEAK USB adapters to Linux a CAN interface like `can0` should appear automatically.

[2022-02-10 14:21] TannerGilbert commented on #1247
@hartkopp I tested the above code on a Raspberry Pi 4 running Ubuntu and on my personal laptop running Pop OS. When plugging in the USB to CAN converter no `can` interface is created though. Can you think of any reason why this might be happening?

[2022-02-11 18:49] akasonu commented on #1236
@dpatel20
I am using MessageSync class instance for the replay with timestamps=True and explored with different gap periods.
CANoe on the same PC doesn't show buffer overflow errors at it's end.
While running via python-can, it starts popping up the ERR_QUEUE_FULL errors after around 20-30 seconds of playback. There is an exception handle in the python code, where I tried following calls to resolv

[2022-02-11 19:17] akasonu commented on #716
@stupidlogic Do you have any pointers for a solution to the issue you have mentioned above..
The above scenario seems to be a replica of what you have mentioned. I have initiated a can logger and registered it as listener for a CAN notifier. However there are few scenarios where we have to iterate over messages in bus as well to check for specific messages based on some injection event. With can l

[2022-02-11 20:46] #1245 closed

[2022-02-11 20:47] #1256 closed

[2022-02-13 10:47] dpatel20 commented on #1236
If CANoe is able to handle it without showing any buffer full errors, then it suggests an issue with your code.

Is there a reason you are not using the [CAN player](https://python-can.readthedocs.io/en/master/scripts.html#can-player)? If you can, I would start with that and see if it succeeds.

As far as I know, CANoe and python-can use the same underlying Vector driver. Both use the driver to pl

[2022-02-13 13:47] TannerGilbert commented on #1247
@hartkopp the output of `dmesg` looks as follows:

[code]

[2022-02-13 18:39] hartkopp commented on #1247
(..)

You have installed the PEAK **character device** driver, which **blacklists** the original included Linux **netdevice drivers**.
Please uninstall the pcan driver =>  `make uninstall`

[2022-02-13 21:06] TannerGilbert commented on #1247
@hartkopp Thanks a lot for your help. This fixed it for me. After uninstalling the PCAN driver I was able to get SocketCAN and the Docker Container to work.

[2022-02-13 21:06] #1247 closed

[2022-02-17 09:27] Chris-Idema-WizzDev commented on #1258
Update: I found out that pip downloaded a really old version of python-can by default for some reason: version 0.0.0. I went on to test version 3.3.4 and the code still worked and version 4.0.0rc0 also worked. I just tested and I found out that I can remove fd=True and it still works!

[2022-02-17 09:40] Chris-Idema-WizzDev commented on #1258
Update: I found out that pip downloaded a really old version of python-can by default for some reason: version 0.0.0. I went on to test version 3.3.4 and the code still worked and version 4.0.0rc0 also worked. I can confirm that fd=True is still needed in version 4.0.0rc0.

[2022-02-18 22:24] felixdivo commented on #1250
No one did, so I'll consider this done. Will add a changelog and push a release.

[2022-02-18 22:24] #1250 closed

[2022-02-19 16:57] andlaus opened #1261 "Notifiers don't seem to work with virtual busses in v4.0.0"
### Describe the bug

Notifiers don't seem to work with virtual busses in v4.0.0. At least we see some failed tests in [cantools](https://github.com/cantools/cantools): https://github.com/cantools/cantools/runs/5259626336 .

### To Reproduce

Create a notifier for a virtual bus, or run `test/test_tester.py` from [cantools](https://github.com/cantools/cantools)

### Expected behavior

no raised exc

[2022-02-20 02:34] zariiii9003 commented on #1261
Hello,

you are not subclassing from BusABC here: https://github.com/cantools/cantools/blob/196a1e4e4cee7c4d8255c5c399e3cc20528e78d9/tests/test_tester.py#L16

That's why you are getting an AttributeError for `fileno()`

[2022-02-20 08:02] andlaus commented on #1261
That fixed it, thanks! The error is a bit enigmatic IMO, but I don't see what python-can could do about this. Closing issue...

[2022-02-20 08:02] #1261 closed

[2022-02-22 09:05] ALPfulben opened #1262 "Cycle time fluctuating on Windows 10 (using Vector inferface)"
### Describe the bug
The cycle times of CAN messages are fluctuating under Windows when using the send_periodic() function.
Expected cycle time 0.02s; Actual cycle time: 0.015s, 0.035s, 0.038s, 0.015s,...

When using Linux (Raspberry Pi) with the same Python code the cycles times are very accurate.

### To Reproduce
[code]

### Expected behavior
Cycle time of the CAN message should be 20ms +- 10%.

[2022-02-22 12:07] zariiii9003 commented on #1262
Hello, thank you for reporting.
Can you please compare the timing between python-can 3.3.4 and 4.0.0?

4.0 is using a [waitable timer](https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-setwaitabletimer), while 3.3.4 used `time.sleep()` on Windows.

[2022-02-23 06:07] ALPfulben commented on #1262
Hello zariiii9003,
I will test it tomorrow and let you know. Thanks for your fast reply!

[2022-02-23 06:50] christiansandberg commented on #1262
In general Windows has quite poor real time performance so I would not expect to get a decent accuracy unfortunately.

[2022-02-23 09:13] shinhwap opened #1263 "Etas interface failed"
### Describe the bug
Hello, I'm trying using ETAS ES581.3 for CAN interface
I've installed BOA Distribution Package 16.12.2021 in my computer
I try to create EtasBus or run detect search available configs
But it will go to ValueError in etas __init__.py line 25
`CSI_CreateProtocolTree(ctypes.c_char_p(b""), nodeRange, ctypes.byref(self.tree))`

Please check the problem or the correct installation f

[2022-02-24 02:52] shinhwap commented on #1263
I found the problem
I'm using 32 bit python
It should use ctypes.CDLL in boa.py
[code]

But after I load correct dll
I still get this error
[code]

I test my E581.3 device with busmaster and I confirm that device works.

[2022-02-24 08:04] ALPfulben commented on #1262
Hello @zariiii9003,

here are the measurements:
[cycle_time_log.txt](https://github.com/hardbyte/python-can/files/8130690/cycle_time_log.txt)
There are indeed some differences.

@christiansandberg: you're probably right :(, altough 20ms should be nothing for a "modern" system ;).

[2022-02-24 09:04] zariiii9003 commented on #1262
The target was 20ms for both measurements? Is 3.3.4 even worse?

Can you check if [this](https://docs.microsoft.com/de-de/windows/win32/api/timeapi/nf-timeapi-timebeginperiod) improves the timing? Maybe it only affects timers, i'm not sure.

[code]

You can also increase process priority with pywin32:
[code]

[2022-02-24 13:31] shach934 opened #1266 "Error with timestamp when write a blf file with BLFWriter and read with BLFReader"
### Describe the bug

Write a blf file with a start_timestamp like: 1636485425.999908, then read with BLFReader, the start_timestamp cannot be interpreted and assigned to 0.

### To Reproduce

Try to save a blf file with start_timestamp like 1636485425.999908. then read it with BLFReader.
The error is caused by the following(function systemtime_to_timestamp()) :
[code]
1636485425.999908 will becom

[2022-02-24 14:04] ALPfulben commented on #1262
Yes, the target is 20ms. It seems like 3.3.4 is worse (average is far away from 20 ms).

windll.winmm.timeBeginPeriod() does have an impact. The cycle time is much more accurate:

[cycle_times_with_timeBeginPeriod().txt](https://github.com/hardbyte/python-can/files/8133002/cycle_times_with_timeBeginPeriod.txt)

[2022-02-24 14:11] zariiii9003 commented on #1262
That's probably the best you can achieve on Windows.

But i don't know whether python-can can do anything here. Libraries should not change system settings.
We could mention it in the docs though.

[2022-02-24 15:49] zariiii9003 commented on #1263
@felixn can you take a look?

[2022-02-25 05:57] ALPfulben commented on #1262
I understand. I will use you're workaround for the moment :). Thanks for the great support!

[2022-02-25 05:57] #1262 closed

[2022-02-25 06:59] keelung-yang commented on #1220
Here are Python life cycles from https://endoflife.date/python
<img width="563" alt="2022-02-25 14_34_21-Python _ endoflife date" src="https://user-images.githubusercontent.com/20385450/155669488-c2cc49ff-1eb3-417c-b9c5-c76e4edc27be.png">

[2022-02-25 19:07] christiansandberg commented on #1266
Good catch! Would you be able to make a PR?

[2022-03-01 13:35] simonkerscher opened #1267 "Add support for J1939 message decoding in Viewer"
### Is your feature request related to a problem? Please describe.
J1939 messages include a few features, which are currently not supported by the viewer.
1. Messages might have 24-bit fields, e.g. PGN 0xF029 (slope sensor information 2)
2. Data fields have a scaling and an offset
3. All messages with the same PGN (middle 2 bytes of cob-id) can be decoded the same way, outer bytes only define prio

[2022-03-01 14:01] zariiii9003 commented on #1267
Hi, python-can does not implement protocols (yet?). But there is [this library](https://github.com/juergenH87/python-can-j1939) which builds on top of python-can and seems to be actively developed.

[2022-03-01 18:15] #1243 closed

[2022-03-01 19:41] hartkopp opened #1268 "channel2int() defect in Vector ASC conversion (from SocketCAN log format) ??"
https://github.com/hardbyte/python-can/blob/4d9b32c99c333ce9a0cac89afa9aeb324b3b4f7f/can/util.py#L284

I did some tests with BLF/ASC/LOG conversions and discovered a problem with the latest develop branch (at least):

Usually the CAN interface names for SocketCAN look like `can0`, `can1`, `vcan12` and so on. The BLF to LOG conversion lead to CAN interface names that are numbers like `1`, `2`, `33`

[2022-03-02 10:09] zariiii9003 commented on #1268
Thanks for reporting and locating the problem. There's a small error in the channel2int regular expression.

[2022-03-02 10:33] zariiii9003 commented on #1219
@hardbyte can you fix this?

[2022-03-02 20:42] MattWoodhead opened #1272 "Conda forge version of python-can is out of date"
### Describe the bug

The current conda-forge release is at 3.1.0, but the PyPI release is at 4.0.0. Is there any plan to update the conda-forge feedstock so that it can sync up with the PyPI release?

### To Reproduce

https://anaconda.org/conda-forge/python-can
https://github.com/conda-forge/python-can-feedstock/pull/10

### Expected behavior
Conda forge releases at the same level as the PyPI re

[2022-03-04 00:59] chemicstry opened #1274 "Socketcan uses incorrect flag for direction"
The socketcan implementation is using `MSG_DONTROUTE` flag instead of `MSG_CONFIRM` flag to set the `is_rx` message flag. This breaks applications where virtual can interface is used, because all messages originate from the same host and thus `is_rx` is always false. IMO the correct behavior should be to use `MSG_CONFIRM` flag instead, but this could break some existing applications if they use tw

[2022-03-04 06:36] hartkopp commented on #1274
But this is the correct status. The difference is

1. is the CAN frame created in that host
2. is the CAN frame received from the outside (e.g. received by a real CAN interface)

As vcan traffic can only occur when it is created on the host, vcan traffic is always "TX" type traffic.

You correctly point out the problem. `MSG_CONFIRM` is set when the tx traffic is received by exactly the socket it

[2022-03-04 10:56] torn4 commented on #836
Did you have to change any settings inside of CANoe to be able to see can messages sent from python inside of "CANoes Trace window" ?

[2022-03-04 21:53] MattWoodhead commented on #1272
I have made a manual PR in the feedstock repo
https://github.com/conda-forge/python-can-feedstock/pull/11

[2022-03-07 15:05] chemicstry commented on #1274
I agree with what you are saying, but I can't think of a use case where current behavior is desired.

Most of the applications use the `is_rx = false` messages to verify that the message was transmitted successfully and/or to get a precise transmission timestamp. So it makes sense that `is_rx` would only be false for messages transmitted on the current socket. I don't think anyone has encountered

[2022-03-07 16:08] hartkopp commented on #1274
Any traffic which comes from a virtual CAN interface has to be sent to this virtual CAN interface.
And this can only be done from the local host.

The problem is, that the `sk` value (see code in my last post) is used as an identifier for this and removing this tag would break almost everything.

But if having this tag `is_rx = true` is that important for your unit test, I can probably provide a s

[2022-03-07 16:17] hartkopp commented on #1274
When you then want to 'replay' a logfile to the virtual CAN that creates the desired flags:

- send TX frames to `vcan1`
- send RX frame to `vcan0`

[2022-03-07 23:31] chemicstry commented on #1274
Thanks for the workaround, I will keep that as an option for unit tests.

However, I think that we still have some kind of miscommunication. What I'm proposing is: change `is_rx = not bool(msg_flags & socket.MSG_DONTROUTE)` to `is_rx = not bool(msg_flags & socket.MSG_CONFIRM)` at https://github.com/hardbyte/python-can/blob/3b47d42f38c7ad5adea5c78bc482df9f6c106dac/can/interfaces/socketcan/socketcan

[2022-03-08 08:34] hartkopp commented on #1274
Ah, now I got it. So that every CAN frame that is not sent by your own socket/application get's an "RX" tagging, right?

So this would move the rx/tx status from the host perspective to the application perspective - as long as you use _exactly one socket_ in your application. This change should be feasible but I'm not sure about the expectations of other python-can users on this topic.

The questi

[2022-03-08 10:16] #1266 closed

[2022-03-08 16:04] Gudoghe opened #1275 "Error with Multicast IP Interface"
Hello everyone, I'm fairly new to the python-can environment and I'm trying to get the basic example for the Multicast IP Interface.
I've installed the python-can module using pip, I've copied the example for this specific CAN connection from the documentation ([https://python-can.readthedocs.io/en/develop/interfaces/udp_multicast.html#bus-class-documentation](https://python-can.readthedocs.io/en/

[2022-03-09 07:54] #1268 closed

[2022-03-09 08:48] felixdivo commented on #1275
Side note: Now that I look at it, maybe this line should also be changed to say only allow multiple addresses, not ports: https://github.com/hardbyte/python-can/blob/develop/can/interfaces/udp_multicast/bus.py#L237-L238

[2022-03-09 08:57] felixdivo commented on #1275
I found [this SO article](https://stackoverflow.com/questions/50959310/enabling-udp-packet-timestamps-on-macos-with-scm-timestamp) that says in the question:

Sounds plausible to me. Maybe we should allow for that to fail. We would have to change [this](https://github.com/hardbyte/python-can/blob/develop/can/interfaces/udp_multicast/bus.py#L323-L337) thing only. It was more or less copied  from th

[2022-03-09 09:07] felixdivo opened #1276 "Clean up (two) old branches"
[Here](https://github.com/hardbyte/python-can/branches/all) are all breaches (and some useful stats like the last activity and diff to `develop`). Most are release branches, some are open PRs. And two are none and we should either open an PR for them or remove them to keep things clear:
- [`cperkulator-develop`](https://github.com/hardbyte/python-can/tree/cperkulator-develop)
- [`remove-MultiRateC

[2022-03-09 09:13] felixdivo commented on #1275
@Gudoghe could you test a patch to confirm it being fixed?

[2022-03-09 10:45] Gudoghe commented on #1275
Yes absolutely, thank you for taking the time!

[2022-03-09 20:02] Heistberg opened #1277 "XNET library not installed"
Hello everyone, I tried to use this library to control some CAN peripherals with a PXI and I found that when installing the python can library, NI-XNET is not added as a dependency so when you try to run it, it always raises an error. Would be very helpful if someone could add it in the dependencies or at least give a helpful error message when the library is not found, would help a lot newbies li

[2022-03-09 20:32] felixdivo commented on #1275
Let's continue in #1278

[2022-03-10 06:20] ffendt opened #1280 "CAN player script fails when using extra_args"
### Describe the bug
Running the CAN player script yields an error when used with `extra_args` as suggested in its help text.

### To Reproduce
`python -m can.player -i udp_multicast anylog.asc --port=40123`
yields error
`player.py: error: unrecognized arguments: --port=40123`

### Expected behavior
The player script should also respect and use the extra_args.

### Additional context

python-can v

[2022-03-10 10:19] zariiii9003 commented on #1277
You need to install the optional dependency: `pip install python-can[nixnet]`

[2022-03-10 19:57] hartkopp commented on #1274
@chemicstry would you like to provide a patch for such an improvement?

[2022-03-12 12:52] chemicstry commented on #1274
I could do that.

However, since python-can is supposed to be interface-agnostic, it would be wise to firstly define what `is_rx` and `is_confirm` mean at the API level for all interfaces. Since `is_rx` and `is_confirm` have inverted logic, it is easier to define `is_tx = !is_rx` and specify them as:
- `is_tx`: Message was sent by **any socket**
- `is_confirm`: Message was sent by **this socket**

[2022-03-12 15:11] hartkopp commented on #1274
I don't think so.

The feature whether a CAN interfaces 'echoes' the sent CAN frame or not does not necessarily stick on socketcan.

E.g. you are currently working on the GS_USB interface - and IIRC that interface supports the 'echo' of sent CAN frames on the CAN interface itself.

So the `receive_own_messages` switch is not limited to socketcan IMO.

And only when `receive_own_messages` is switch

[2022-03-12 15:44] chemicstry commented on #1274
Yeah, so if loopback/echo frames are enabled, is interface-specific. Some interfaces don't support it at all, some have it enabled by default (gs_usb), some have parameters to enable it (socketcan).

However, regardless if they are enabled, for non-shared interfaces `is_confirm == !is_rx` invariant always holds. For example, `gs_usb` interface would have `is_confirm = frame.echo_id != GS_USB_NONE_

[2022-03-12 16:31] hartkopp commented on #1274
Is this interface to switch the `receive_own_messages` setting commonly known?

So that it is `fixed off` for most CAN interfaces, `fixed on` for GS_USB and `configurable` for socketcan?
IMO this has to be clear to the user as they could get different content.

Really? `is_confirm == !is_rx`  means `is_confirm == is_tx` so  MSG_DONTROUTE == MSG_CONFIRM ?

The term 'non-shared interfaces' is mislea

[2022-03-14 10:28] andebjor opened #1282 "`send_periodic` does not accept `on_error` callback, resulting in race condition"
### Describe the bug
When setting up a periodic send task there is no way to configure the `on_error` callback in the task. Therefore, if the very first send attempt in the task fails, the task is aborted. This can happen before the user is able to add a callback to the newly created task. Thus there is a race condition between creating the task and sending the first message, and adding the callba

[2022-03-15 10:58] matze4949 opened #1284 "Vector interface doesnt send msg with correct data or id (hardware config-> driver status -> init is missing)"
### Describe the bug
When i run the following script alone I always receive messages without any data or id:
[code]
I get the following result and driver status out of hardware control:
[code]
![image](https://user-images.githubusercontent.com/101636514/158361939-2fa27664-4c77-4d55-bd1f-5ab98464342e.png)

### With CANoe in background
When I run a CANoe File in the background i can receive the corr

[2022-03-15 13:17] zariiii9003 commented on #1284
It works fine when i test with virtual channels.

Only the first app on the bus gets Init access. Maybe there's another active application in your case. Your Baudrate is also different between the screenshots.

Maybe you received a message from another app?

[2022-03-15 14:09] matze4949 commented on #1284
Now i get the init access but the receiving message is still empty or 0x00

[2022-03-15 14:13] zariiii9003 commented on #1284
Can you edit the can.interfaces.vector.canlib.py file like this?

This should be at line 479:
[code]

I added a print statement to see if there are errors on the bus.

[2022-03-15 14:27] zariiii9003 commented on #1284
I just noticed that you received an error frame here
[code]
Do you have the necessary CAN Termination between Channel1 and Channel2?

[2022-03-16 05:59] matze4949 commented on #1284
with the print command i get this:
`RX_MSG c=1, t=495096619008, type=0000,  ERROR_FRAME tid=00`

For the first tests with python-can I just build a loop with two channels, between the 2 cabels there is a USA PATENT 519906 Gender Changer, thats all.

[2022-03-16 12:19] matze4949 commented on #1284
oh man.... just forgot about that part.

its fixed thank you

[2022-03-16 14:39] zariiii9003 commented on #1284
yes, bitrate is correct

[2022-03-16 14:52] thshan opened #1285 "Unable to send periodic messages with IXXAT interface as of 4.0.0."
### Description:
While attempting to set up a periodic task to synchronously write/read PDOs using an IXXAT USB-to-CAN and  the [canopen](https://github.com/christiansandberg/canopen) package, an AttributeError is generated due to the `IXXATBus` object missing `_periodic_tasks` (see: traceback below).

### Expected behavior
On v3.3.4, it is possible to use `node.rpdo[pdo].start` or `network.sync.s

[2022-03-17 08:12] #1284 closed

[2022-03-18 08:22] zariiii9003 commented on #1285
Could you try this branch?
https://github.com/zariiii9003/python-can/tree/fix_1285

[2022-03-18 10:21] thshan commented on #1285
Hi zariiii9003. No change on that branch. I have, however, added some updated details in the OP after a bit of investigation.

[2022-03-18 10:30] zariiii9003 commented on #1285
Can you show your traceback with my branch?

[2022-03-25 13:28] MunchZkin opened #1286 "Is it possible to use multiple bytes to send a message"
I am trying to simulate a can communication based on a real vehicle and this uses a 16-bits message to send data with really high precision and some messages with just 4-bits. Can I create messages like these using this library?

Currently I am using virtual can on linux with "socket-can" interface.

[2022-03-25 13:47] #1286 closed

[2022-03-28 12:08] tamenol opened #1287 "Possibility to add partials as listeners to the notifier"
### Is your feature request related to a problem? Please describe.

At the moment it's not possible to use `functools.partial`s as callback functions. `ValueError` gets raised on the line `self.listeners.remove(listener)` when trying to remove the listener since `functools.partial` doesn't have `__eq__`.

### Describe the solution you'd like

Change the `remove_listener` function a bit:

[code]

O

[2022-03-29 21:48] zariiii9003 commented on #1287
I did not test this but you could probably check for identity with the `is` operator without specifically mentioning `functools.partial`.

[code]

[2022-03-30 07:50] tamenol commented on #1287
@zariiii9003 the failed `remove` instruction throws a `ValueError`. Also `is` does not work, since `partial` does not have the implementation function that can check this.

I did not know about the `for - if break - else` construct. Thanks for this. Is quite handy

[2022-03-30 07:57] zariiii9003 commented on #1287
Can you post the traceback of your error with the `__eq__` method or a code sample to reproduce?

[2022-03-30 08:15] tamenol commented on #1287
@zariiii9003 I made a mistake when programming my application and the whole premise of this issue is wrong. My apologies.

I needed to assign the `partial` to a variable to make it work.

This works:
[code]

This is how I did it earlier (and wrongly):
[code]

So this can be closed. Sorry for taking away your time.

[2022-03-30 08:17] zariiii9003 commented on #1287
No problem, i was wondering why i didn't have any issues removing partial from a list.

[2022-03-30 08:17] #1287 closed

[2022-04-07 08:39] superlogan72 opened #1288 "usb2can device"
Hello i have buy a usb2can by inno-maker but I'm not able get it work
I'm under windows 10 and the device is well recognized by the system as per attached picture

![sistema](https://user-images.githubusercontent.com/24847328/162157713-82a2fc33-3c34-49d1-8ba4-492858e70ef6.png)
but I'm not able to configure it with python-can
Can you give me some idea or just suggest me a working usb2can device wit

[2022-04-08 14:31] Muteskinto commented on #1288
Hi there,
I have (I assume, since it is recognized by Windows in the same way) the same Device.

I got it to work with python-can using the "gs_usb" interface Module.
Follow the explanations in the [docs](https://python-can.readthedocs.io/en/master/interfaces/gs_usb.html).

I had to manually download libusb-1.0.x for Windows and move the .dll to \Windows\System32 and then change the driver with Za

[2022-04-08 14:46] superlogan72 commented on #1288
thanks for your reply but i don't know how to setup the bus conf string
bus = can.Bus(bustype="gs_usb", channel=dev.product, bus=dev.bus, address=dev.address, bitrate=250000)
what i write in dev.bus - dev.product dev.address?
Thanks
Luca

[2022-04-08 14:49] superlogan72 commented on #1288
i have done it but i get the error:
Exception "unhandled usb.core.USBError"
[Errno 13] Access denied (insufficient permissions)
File: C:\Users\Luca\AppData\Local\Programs\Python\Python38\lib\site-packages\usb\backend\libusb1.py, Line: 604
I'm using win10 64bit

[2022-04-08 16:29] superlogan72 commented on #1288
I have redo all and now it works.
Many thanks

[2022-04-11 15:36] superlogan72 commented on #1288
Sorry again i try a simple program but i get this error
Can you suggest something?

nodo_luca = BaseNode402(1, 'EBS.eds')
network = canopen.Network()
network.add_node(nodo_luca)
network.connect(bustype="gs_usb", channel=dev.product, bus=dev.bus, address=dev.address, bitrate=500000)
network.scanner.search()
time.sleep(0.05)
for node_id in network.scanner.nodes:
print("Found node %d!" % node_id)
#he

[2022-04-12 03:13] catmemo opened #1290 "Sent by send_periodic success but not response in device when I try to use time.sleep(1)"
### Describe the bug
I would like to modify the message every second but failed.

### To Reproduce
[code]
It works without "time.sleep(1)" and failed with "time.sleep(1)"

Actually, it was sent to the device and I found the message on CAN trace:
![MicrosoftTeams-image (10)](https://user-images.githubusercontent.com/26922437/162894518-7cea1b65-c22b-4aa5-bfec-0cc402d836a1.png)

### Expected behavior

[2022-04-12 06:44] #1290 closed

[2022-04-12 06:45] catmemo commented on #1290
I find the way to solve this issue finally, modify_data should be used in this case.

[2022-04-14 18:10] pthomas opened #1291 "AsyncBufferedReader misses messages"
Hello,

I'm using can.AsyncBufferedReader(), and it seems if there is too much time time between reader.get_message() calls then messages are lost. They are still seen by wireshark, but not from reader.get_message(). Is this the expected behavior? Is there anything that can be done about this?

Even very small sleeps like time.sleep(0.001) will cause this issue.

OS and version: Ubuntu
Kernel: 5.4

[2022-04-14 19:43] Jeffmagma opened #1292 "Error when trying to initialize isCAN dongle"
### Describe the bug
When I try to set up the isCAN bus the same way I did with PCAN (tested and working for me), I get an error:
[code]

### To Reproduce
This can be reproduced with the simple python code:
[code]

### Expected behavior
I expect the error not to occur and my program to continue to run as usual

### Additional context

OS and version: Windows 10 21H2
Python version: 3.10
python-can

[2022-04-15 14:23] MoscowskyAnton opened #1294 "CANalyst-II can't reopen device"
Hello! I use your library with CANalyst-II device and it works pretty well, thank you!
But I have one problem, first run of program is fully successful, but when I quit it and start again it throws error like:

[code]
If I replug device everything is Ok again.
In code it is looks like:
[code]

OS and version: Kubuntu 20.04
Python version: 3.8.10
python-can version: 4.0.0
python-can interface/s: ca

[2022-04-16 20:25] felixdivo commented on #1275
I's not clear whether https://github.com/hardbyte/python-can/pull/1278 solved the issue but I'll stop there

[2022-04-18 16:03] zariiii9003 commented on #1292
Can you try again with this branch? https://github.com/zariiii9003/python-can/tree/fix_1292
You should get a meaningful error message now.

[2022-04-19 18:18] Apteryks opened #1295 "GNU/Linux: AttributeError: module 'ctypes' has no attribute 'windll'"
### Describe the bug
Attempting to run the test suite, I see:
[code]

### To Reproduce
Run the test suite on GNU/Linux.

### Expected behavior
Test suite succeeds.

### Additional context

OS and version: Guix System
Python version: 3.9.9.
python-can version: 4.0.0
python-can interface/s (if applicable): etas/boa.py

[2022-04-19 18:22] Apteryks commented on #1295
After deleting the `etas` module, I get:
[code]
Am I missing something?  Is this package supposed to work outside of Windows?  It used to.

[2022-04-19 18:31] Apteryks commented on #1295
OK, it seems this was caused by attempting to run `python setup.py test`, which somehow loads each module.  Pytest doesn't seem to behave that way.  Closing.

[2022-04-19 18:31] #1295 closed

[2022-04-19 20:15] Jeffmagma commented on #1292
Seems like that fixed the issue, thanks

[2022-04-19 20:15] #1292 closed

[2022-04-19 20:25] Jeffmagma commented on #1292
Is there a forum or chat for this library? I have a question but don't know where to ask it. I just want to know how to get the source address that python-can uses to send its messages

[2022-04-27 04:30] mikisama opened #1298 "adding a generic CANalyst-II backend"
Hi, guys.

Version 3.x of python-can worked well with my CANalyst-II. However, in version 4.x, I found that the backend of python-can for CANalyst-II has changed. My CANalyst-II can not work with python-can.

* As far as I know, the genuine CANalyst-II is manufactured by [ZLG](https://www.zlg.com/), but there are many cloned CANalyst-II devices on the market, whose manufacturers provide ZLG-compat

[2022-04-27 09:29] dufengit opened #1299 "asc file parse failed"
### Describe the bug

    asc_msg = next(asc_iter, None)
  File "D:\ProgramData\Anaconda3\envs\qt_env\lib\site-packages\can\io\asc.py", line 131, in __iter__
    frame.append(int(byte, 16))
ValueError: invalid literal for int() with base 16: 'Length'

### To Reproduce

I replay the asc file use CANoe, find there is Can overload Frame。And when the error raised, the DLC is 13. I don't know if this 1

[2022-04-27 09:36] dufengit commented on #1299
and the is_fd flag is False

[2022-04-27 09:36] zariiii9003 commented on #1299
Can you try with python-can version 4? A properly formatted traceback would be helpful.

[2022-04-27 09:44] zariiii9003 commented on #1298
@projectgus Could you take a look?

[2022-04-27 09:53] dufengit commented on #1299
I upgrade my package to version 4.0.0, and now the error msg is like this:
D:\ProgramData\Anaconda3\envs\qt_env\python.exe C:/Users/qiao/Desktop/analy_tool_v1.3/convert/asc_csv.py
start
Traceback (most recent call last):
  File "C:\Users\qiao\Desktop\analy_tool_v1.3\convert\asc_csv.py", line 139, in <module>
    asc_msg = next(asc_iter, None)
  File "D:\ProgramData\Anaconda3\envs\qt_env\lib\site-p

[2022-04-27 09:59] dufengit commented on #1299
python version used actually is 3.9.7, in fact, i tried both 3.8.5 and 3.9.7

[2022-04-27 10:08] zariiii9003 commented on #1299
Can you share your asc file or the lines which cause this error?

[2022-04-27 11:16] projectgus commented on #1298
Oh wow, this is very interesting! @mikisama I did not actually know there was a "genuine" CANalyst-II from ZLG available for sale.

I did know that the Chuangxin Technology one came with a DLL that made it work with the ZLG CANPro Windows program, but in the Windows program it doesn't actually say "Canalyst-II" in the interface.

Here's all of the versions I can find:

1. Chuangxin Technology vers

[2022-04-27 11:25] dufengit commented on #1299
I checked with my colleague, there is some issue when the ecu is sending can msg, this should not be issue of can package, you can close this issue, thanks

[2022-04-27 11:26] projectgus commented on #1294
That's a bit weird, the assertion is failing because USB returned less bytes than expected.

Can you try printing the actual number of bytes before the assert, please? i.e.

[code]

Maybe the canalystii backend needs to reset the device somehow when it reopens it, or flush any pending reads.

[2022-04-27 12:16] mikisama commented on #1298
Hi, @projectgus
Thanks for your reply.

I have this one [USBCAN-II](http://www.gcgd.net/prolist_26_48.html)

The stuff in this zip is a ZLG-compatible DLL and manual.
[Guangcheng Technology USBCAN Interface Function Library Instruction Manual.zip](https://github.com/hardbyte/python-can/files/8571883/Guangcheng.Technology.USBCAN.Interface.Function.Library.Instruction.Manual.zip)

[2022-04-27 16:09] hartkopp commented on #1299
At least a DLC of 13 would be ok. Even with Classical CAN (CAN2.0B). The CAN controller is only transferring 8 bytes but the value inside the DLC field might get up to 15 (0xF) which is also transferred over the CAN bus and can bee seen in the receiving CAN controller.

@dufengit Having a short log file (e.g. only 2 or 3 line) would help to make the ASC file parser more robust. Can you still provi

[2022-04-28 02:47] dufengit commented on #1299
[Logging2022-04-28_10-44-52.zip](https://github.com/hardbyte/python-can/files/8579135/Logging2022-04-28_10-44-52.zip)
you can try this file

[2022-04-28 03:53] dufengit commented on #1299
I add one condition, to check the real length use index of 'Length' string in data

[2022-04-28 07:01] hartkopp commented on #1299
In the python-can code?

Would it make send, that you clone python-can to your personal GitHub repos, do the change and send a pull-request for a review?

This is the usual way to fix problems and to attribute the right reporter and author of the patch ;-)

[2022-04-28 07:27] MoscowskyAnton commented on #1294
Thanks for response!

It printed two lines before crush
`0 128
48 128`
And if I keep launching in increases
`0 10752
48 10752
`
I tried to add `flush_tx_buffer` after bus init, but this doesn't help
There is also in canalystii function `clear_rx_buffer` but how can I reach it from `can` class?

[2022-04-28 10:02] catmemo opened #1300 "messages cannot display in bus when bus1 and bus2 use different channel"
### Describe the bug
I have bus1 and bus2 as below:
[code]

I tried to send some messages by bus1 and print them as below:
[code]

However, the messages did not printed when bus1 and bus2 use different channel even the bus2 was not used.
And If I set both channel to 0 and it works.

### To Reproduce
[code]

### Expected behavior

0x260 should be printed as well

### Additional context

OS and vers

[2022-04-28 11:56] dufengit commented on #1299
I add three line code as below in asc.py, line 169 , to judge if the real length is equal to data_length. Just work for my case
        length_index = data.index('Length')
        if(data_length != length_index):
            data_length = length_index
I don't know if there is other constraints.

[2022-04-28 12:12] hartkopp commented on #1299
Hm, when the `ìs_fd` flag is false, the number of handled CAN data bytes should be limited to a maximum of 8.

As stated above the DLC value might be higher than 8 but the number of data bytes for non-FD frames is always limited to 8.

[2022-04-29 08:34] zariiii9003 commented on #1300
Are you connected to a physical bus? Or is CANalyzer assigned to a virtual channel?
Use[ `receive_own_messages=True`](https://python-can.readthedocs.io/en/master/interfaces/vector.html#can.interfaces.vector.VectorBus) if you want to receive messages that you sent.

[2022-04-29 08:38] catmemo commented on #1300
I connected to a physical bus.
OK, I'll try [receive_own_messages=True](https://python-can.readthedocs.io/en/master/interfaces/vector.html#can.interfaces.vector.VectorBus) and feedback here, thanks~

[2022-04-29 23:22] #1275 closed

[2022-05-01 08:18] projectgus commented on #1298
Thanks, that's interesting. So the one you have is actually a "ZLG"USBCAN" compatible clone, not "Canalyst-II" exactly, but it all works with the same ControlCan DLL and the "CANPro" ZLG software?

The Shenyang Guangcheng Technology CAN protocol support in their documentation actually sounds better than the basic Canalyst-II protocol support which doesn't allow much detection of CAN bus errors. I

[2022-05-01 13:48] keelung-yang commented on #1298
As discussed with supporters from ZLG, they may use incompatible libraries just for supporting Windows/Linux or CAN/CAN-FD, or even for the same product as asked by different clients.

We also discussed `Canalyst-II` in python-can v3.x, and they tell me I can't use it for our USBCANFD-100U/200U. That's why I develop a new back-end: Only for Linux. On Windows they use different APIs. There are many

[2022-05-01 23:17] projectgus commented on #1294
`MESSAGE_BUF_LEN` is 64 (each CAN message is 64 bytes long in the device's USB protocol). For some reason your device says it has messages available and then does a USB "short read" and only sends 48 bytes (less than a full message.)

i.e. the rx_buffer_size 128 is for 2 messages, 10752 is for 168 messages because the RX buffer is filling up.

Try `bus.device.clear_rx_buffer(0)` and see if you can

[2022-05-03 18:49] GiorgioSgl opened #1304 "Discover device needed"
### Is your feature request related to a problem?
I need a function or something to discover the device connected to the can protocol and it's Id, I don't find any way to do it actually and neither suggestion

### Describe the solution you'd like
I'm thinking about the possibility to create a function to discover devices. I have no idea about how to do it actually.

### Describe alternatives you'v

[2022-05-04 07:45] zariiii9003 commented on #1304
Something like [this](https://github.com/hardbyte/python-can/blob/796b52586a5d891e4e2077b423de40cba07f8b44/can/interface.py#L125)?

[2022-05-04 08:02] MoscowskyAnton commented on #1294
Clearing buffer doesn't help but commenting assert line almost does
Now it reconnects successfully several times, until throws
[code]
But seems it is hardware problem, as soon it is strongly correlate with blinking on a device I use.

[2022-05-04 14:04] jagauthier opened #1305 "CAN FD - serial line?"
I'm sorry to open a "bug" report for a support issue.
I've been reading through the documentation, and I know that CAN FD support is present.
But I can't seem to find out of it's supported via serial over CAN (slcan)

I know this is an ASCII protocol for traditional CAN:
http://www.can232.com/docs/can232_v3.pdf

But I am having a hard time finding definitive information about this protocol and CAN

[2022-05-04 16:19] GiorgioSgl commented on #1304
This

This seems more to identify the interface available, and not as in my case to identify the device available in my can-network.

[2022-05-04 17:08] jagauthier commented on #1305
Thanks for your elaborate response!  I actually have custom built hardware and I am trying to figure out the best method to use for both Windows and Linux functionality.  Fortunately, this will not be used for high speed communications. Mostly status and commands, but I am using CAN FD because the network will absolutely support higher speeds.  candlelight firmware with binary USB seems promising,

[2022-05-04 17:13] GiorgioSgl opened #1306 "Bug on notifier"
### Describe the bug
I'm not aware of the actual bug, but the problem is on the notifier

### To Reproduce
[code]
[code]

### Expected behavior

The notifier should notify the buses but nothing work actually

### Additional context

OS and version: Fedora 35
Python version: python 3.10.4
python-can version: 4.0.0
python-can interface/s (if applicable): vcan0

[2022-05-04 17:31] hartkopp commented on #1305
The candlelight firmware implements the GS_USB protocol which either works on Linux/SocketCAN out of the box and obviously also directly which python-can:

https://github.com/hardbyte/python-can/blob/develop/can/interfaces/gs_usb.py

The CAN FD support is pretty new (in the firmware and in the Linux kernel). But IMHO this could be the most promising way for your custom built hardware to follow.

[2022-05-04 17:42] jagauthier commented on #1305
It also looks like the firmware "also implements WCID USB descriptors" so it can be used on Windows.
I'm not sure if I can get away with Python-can, which I already use, but I think I can use some other gs-usb based modules.

[2022-05-04 18:00] GiorgioSgl commented on #1306
No cause I'm calling the function in this way:
[code]

The interface is setup with this script:
[code]

[2022-05-04 18:05] GiorgioSgl commented on #1306
I try with the version 3.3.4 of the python-can, but still I'm getting a very similar error.

[code]

[2022-05-05 12:32] matze4949 opened #1307 "receiving old messages"
### Describe the bug
Hi,
I  am waiting on the CAN bus to send me certain error messages. The message i am waiting for is send once for each error of the system. When i receive the messages with the following code i am receiving a bunch of old error messages, which dont care anymore.
[code]
With CANoe i am only receiving one message, as I expect

### Expected behavior
Receiving only one Message, no

[2022-05-05 15:05] GiorgioSgl commented on #1304
That's help! So actually it's depending on the protcol and with the library is not possible. I'm going to close it. Thanks!

[2022-05-05 16:22] Zanz1barra opened #1308 "How to connect to sysworxx usb-CANmodul2?"
I should connect to two channels of sysworxx USB-CANmodul2 device using canopen python lib at the same time. However, I get the following mistake: "Function UcanInitHardwareEx returned 5: the module with the specified device number is not connected (or used by an other application)". Here is the part of code for the first device:

[code]
Here is for the second one:
[code]
These two connection are

[2022-05-07 02:30] #1300 closed

[2022-05-07 08:48] catmemo opened #1310 "Event type message cannot display in bus"
### Describe the bug
I tried to trigger an event type message but I did not find it in bus.

### To Reproduce
Run below code and trigger an event type message:
[code]

### Expected behavior
The event type message can be printed in bus.

### Additional context

OS and version: win10
Python version:3.7.2
python-can version: latest
python-can interface/s (if applicable): No

<details><summary>Traceba

[2022-05-07 13:25] zariiii9003 commented on #1310
What kind of message do you expect? If you do not set `app_name` or `serial` then you connect to the Virtual Channel 1. Is any application sending messages on Virtual Channel 1?

[2022-05-07 13:35] zariiii9003 commented on #1307
There is a command in the Vector XL API to flush the rx buffer. But it is not implemented in python-can.

But you could also do
[code]
to clear the buffer.

That said, your application should always read all the messages. You don't want the buffer to overflow and miss messages.

[2022-05-09 06:38] matze4949 commented on #1307
Now everything works like i was expecting, thanks for the fast answer

[2022-05-09 06:38] #1307 closed

[2022-05-09 08:24] catmemo commented on #1310
Event type message means I will send only 3 frames of this message. And I connect with CANalyzer.

[2022-05-10 07:29] catmemo commented on #1310
Sorry, I made a mistake, it's OK to get all messages.

[2022-05-10 07:29] #1310 closed

[2022-05-10 16:51] #1305 closed

[2022-05-10 16:57] jagauthier opened #1311 "Custom Interfaces"
Hello,

 There is documentation about some custom interface here:
https://python-can.readthedocs.io/en/develop/interfaces.html

Given these two issues:
https://github.com/hardbyte/python-can/pull/1110
https://github.com/hardbyte/python-can/pull/1233

Is this method still valid?

I really don't quite understand how to implement a custom interface. It's a bit deeper into Python than I usually get.
S

[2022-05-15 21:01] gribera opened #1312 "Notifier bug under Windows"
### Describe the bug

When I try to instantiate Notifier using robotell interface it fails on Windows. In Linux it works without problems

### To Reproduce

[code]

[code]

### Expected behavior

Notifier should be instantiated without any error.

### Additional context

OS and version: Windows 10
Python version: Python 3.10.4
python-can version: 4.0.0

[2022-05-16 02:05] zhoulian1992 commented on #1308
I met the same trouble.

[2022-05-16 05:23] zhoulian1992 commented on #1057
Has this problem been solved?

[2022-05-16 05:35] zhoulian1992 commented on #1057
Every time I call the can.interface.Bus() fuction, the init function will be used. The value hw_is_initialized and ch_is_initialized are been set to False. In the second time I call the can.interface.Bus() ,the UcanInitHardwareEx() will be also called. Then the error is occurred.

[2022-05-16 12:32] felixdivo commented on #1057
(I won't work on this issue, btw. I just commented above.)

[2022-05-17 16:53] Matheus-Garbelini commented on #965
Currently, direction of CAN messages are only parsed for CAN_FD_MESSAGE_64. Is there any way we can also save BLF with the direction information for CAN FD or normal CAN frames?
Is there some new format on the step that allows something like "CAN_MESSAGE_64" so we can use direction for classical CAN messages?

[2022-05-17 22:34] felixdivo commented on #965
(I'm out, sorry.)

[2022-05-18 19:40] felixdivo commented on #965
@Matheus-Garbelini Yes. That's right. Just so that you don't wait for my feedback on this.

[2022-05-19 07:13] zariiii9003 commented on #1312
The `fileno()` method of the robotell interface should call `super().fileno()` on windows. This raises a NotImplementedError which is expected and handled by the notifier.

Would you like to create a pull request?

[2022-05-19 07:14] zariiii9003 commented on #1311
The docs should still be valid.

[2022-05-20 12:16] gribera commented on #1312
Thanks for your reply @zariiii9003, I sent a pull request with a fix that works. It is based on the `fileno()` method of slcan BUS.

[2022-05-21 20:22] jayceslesar opened #1314 "High Speed Data Question"
What would be the max hertz I could receive data at on socketcan? I want to scale up to messages that cycle at > 1khz and am wondering if the python wrapper here can even handle it.

[2022-05-23 09:09] tienlocnguyen opened #1315 "Logged .asc file can't open in CANoe 14"
### Describe the bug
Logged .asc file by python-can is not able to open in CANoe 14

### To Reproduce
- Record .asc file by python-can
- Try to replay logged file by CANoe 14

### Expected behavior
Can replay log by CANoe 14

### Additional context

OS and version: Window 10
Python version: 3.8
python-can version: 4.0.0(https://github.com/hardbyte/python-can/releases/download/4.0.0/python_can-4.0.

[2022-05-23 13:59] jagauthier commented on #1311
Thanks. I've never created an installable python module.  I went through the docs, and I did it.  I added
    entry_points={
        'can.interface': [
            "interface_name=slcan_custom:slcan_customBus",
        ]
    },

to the setup.py file in the setuptools.setup() function.

I created a small virtualenv, and tried to use it:
bus = can.interface.Bus(bustype='slcan_custom', bitrate=500000

[2022-05-24 19:13] jagauthier commented on #1311
Yup, and I cannot do that either.  I will re-evaluate the structure and try to figure it out.   Python's import nuances have never been a strength for me.  Like.. apparently, trying to do the import forces ```__init__.py```  to run, when I look at the other interfaces, seems to do the import as well. Well, thanks. I will continue to fight it!

[2022-05-24 22:15] j-c-cook opened #1316 "Bug in `can.logger` during rollover when file format `.blf` is defined"
### Describe the bug

The `can.logger` file is throwing an error when the `.blf` format is requested and a max file size is defined.

### To Reproduce

Enable virtual can: `sudo ip link set vcan0 up type can`
Spam the virtual bus with random can messages 1 ms apart: `cangen vcan0 -e -I 18EAFF26 -L i -v -v -v -g 1`
Log the virtual bus: `python -m can.logger -c vcan0 -i socketcan -b 250000 -f file.b

[2022-05-24 22:44] j-c-cook opened #1318 "Enhance the error message when requesting file format `.db` with sized rotating logger"
### Describe the bug

The `can.logger` does not accept `.db` as a format to place the log in, but the API documentation states that `.db` is an acceptable format:
[code]

### To Reproduce

Enable virtual can: `sudo ip link set vcan0 up type can`
Spam the virtual bus with random can messages 1 ms apart: `cangen vcan0 -e -I 18EAFF26 -L i -v -v -v -g 1`
Log the virtual bus: `python -m can.logger -c v

[2022-05-25 15:03] #1311 closed

[2022-05-25 15:43] GiorgioSgl commented on #1306
I fix it.

Actually only need to add a line to stop the notifier at the end.

[code]

[2022-05-25 15:43] #1306 closed

[2022-05-26 12:15] Allabenarush opened #1319 "Reflecting xldriver exception error code"
When trying to send a large amount of CAN messages to Vector I get an exception from xldriver:
can.interfaces.vector.exceptions.VectorOperationError: xlCanTransmitEx failed (XL_ERR_QUEUE_IS_FULL) [Error Code 11]

I seem to have a problem catching this exception because its raised in the check_status_operation method in xldriver.py

Here is the trace:
xlCanTransmitEx failed (XL_ERR_QUEUE_IS_FULL) [

[2022-05-26 22:12] zariiii9003 commented on #1319
Each python-can exception has an `error_code` attribute
https://github.com/hardbyte/python-can/blob/4cb2f2f6fbf6bd378a4e804b5c737a6128caea1d/can/exceptions.py#L57

[2022-05-27 00:13] j-c-cook opened #1320 "Add documentation for how to build the docs to README"
### Is your feature request related to a problem? Please describe.

Contributors often need to edit documentation. It is nice to be able to build the documentation locally prior to pushing up changes to make sure everything looks okay. I don't currently see any documentation for how to build the docs.

### Describe the solution you'd like

A new section in the README dedicated to building the docs

[2022-05-27 21:48] zariiii9003 commented on #1320
There's a [section in the docs](https://python-can.readthedocs.io/en/master/development.html#building-installing) for it.

[2022-05-28 03:05] j-c-cook commented on #1320
I hadn't noticed that. I should have looked into the contributing docs closer.

[2022-05-28 03:05] #1320 closed

[2022-05-31 14:00] j-c-cook commented on #1220
Does this repository follow [semantic versioning](https://semver.org/)? It seems to me that changing the minimum functioning Python version is akin to an API deprecation. API deprecation should only occur on major releases. This may be the kind of thing that an issue should be opened and named "Planned deprecations for v5.0" [see example here](https://github.com/MassimoCimmino/pygfunction/issues/1

[2022-05-31 14:09] felixdivo commented on #1220
(I'll retreat from this discussion as I did from the project in general)

[2022-05-31 14:17] j-c-cook commented on #1220
I understand that an argument could be made that Python 3.7 to 3.8 is a minor release, so in our minor releases it should  be sufficient to change the minimum available Python version. However, I'm not sure what `python-can` gains as a package by changing the minimal version from 3.7 to 3.8. It could potentially introduce more work for the users, and for what reason?

[2022-05-31 17:52] fabiocrestani commented on #965
@Matheus-Garbelini By inspecting the code it seems that all CAN messages have a `is_rx` field that you can use to get the direction. Maybe you could you provide a sample file for further investigation?

[2022-06-01 08:55] chemicstry commented on #1274
Hey, sorry for the long silence.

I tried making a PR for this, but there's just too much inconsistency between interfaces and fixing that would be a major breaking change. So firstly, I'm not sure if such changes would be welcome and secondly, I don't feel qualified enough to drive the API changes of the whole library.

As for the issue, I'm not sure if it's better to keep this open, in case some

[2022-06-01 10:26] Matheus-Garbelini commented on #965
Hi @fabiocrestani, thanks for reply.
Unfortunatelly, the main point of my concern is that we cannot save the BLF with direction information.
Readinf is fine trough the `is_rx` flag as you suggested, but informatino is lost if the user tries to save the same capture via BLF Writer.

[2022-06-01 10:46] xeno27 opened #1321 "linux canutils cangw"
### Is your feature request related to a problem? Please describe.
It would be nice to have an simular api to cangw like the canutils cangw, iam working a lot with the internal cangw function, and it is actualy great ! but iam not sure  if the cangw things are here at the right position..

### Describe the solution you'd like
It would be great to have an interface to add cangw functions and remove

[2022-06-01 13:13] melav99 commented on #292
I still have this issue even with the newest release. However, once I add a time.sleep(_any value_) it works for an infinite time.

[code]

[2022-06-02 07:06] zhoulian1992 opened #1323 "How to start log"
Could you please show me an log example code? I don't know how to start logging can datas.

[2022-06-02 07:34] #1323 closed

[2022-06-02 07:35] zhoulian1992 commented on #1323
sorry, I ask for help in wrong place.

[2022-06-02 07:37] zhoulian1992 commented on #1222
Can you show me how to log receive message?  I don't know how to log can datas.

[2022-06-02 09:47] felixdivo commented on #1222
@zhoulian1992 This has nothing to do with this issue. Have you tried `print(message)` or `str(message)`? If that does not work, open a new issue.

[2022-06-02 12:50] geynis commented on #1211
Hi, having the same issue, I see there is no implementation in the python canlib for raising errors when sending can frames with Vector interface. Will this be resolved soon?

[2022-06-02 14:37] j-c-cook commented on #1318
@zariiii9003 I modified the label of this issue. I would not consider this a bug, but rather an enhancement to the error message. I do not have access to change the `label` of this issue.

[2022-06-03 08:15] melav99 opened #1324 "send_periodic() only sends messages once"
I still have the same issue as  #292 even with the newest release.

[code]

[2022-06-03 09:02] melav99 opened #1325 "AttributeError: 'list' object has no attribute 'channel'"
When running the exact code in the [cyclic.py example](https://github.com/hardbyte/python-can/blob/develop/examples/cyclic.py), I get the error: AttributeError: 'list' object has no attribute 'channel'

I am using the latest versions of python and the packages.

Addition to error message:

[code]

[2022-06-03 15:52] zariiii9003 commented on #1325
I am pretty sure that your are not using the latest version. Probably 3.3.4 or older. Upgrade to 4.0

[2022-06-03 21:22] j-c-cook opened #1326 "Enhance the `can.logger` to check to see if the log file exists and append if there rather than overwrite"
### Is your feature request related to a problem? Please describe.

Consider `can.logger` being used on an embedded Linux system. A `python can.logger ...` process is started as a daemon (`/etc/init.d/`) in boot and killed in shutdown. When the system is restarted, the existing log file on the device and its contents is currently overwritten. This results in a loss of data.

### Describe the solut

[2022-06-06 19:58] hartkopp commented on #1321
Hi @xeno27 ,
the can-gw is a Linux-only feature which makes use of PF_NETLINK sockets to configure the can-gw routing jobs with netlink messages.

That means the can-gw is more a PF_NETLINK feature than a PF_CAN feature. I would suggest to do some investigations how PF_NETLINK can be used from Python and maybe create your own library?

[2022-06-07 05:35] geynis commented on #1211
@XXIN0 I have found a work around, open the bus with receive_own_messages=True and use the receive function to get an error frame for an error on transmitted frames.
I'm checking Vector's API to see if how can we fix this issue, will let you know.

[2022-06-07 06:49] #1299 closed

[2022-06-07 07:16] zariiii9003 commented on #1211
for CAN you can check `Message.is_error_frame`. I don't think there is a way to get the exact kind of error.
For CAN FD you can get the error type [like this](https://github.com/hardbyte/python-can/issues/909#issuecomment-703072365).

[2022-06-07 07:30] geynis commented on #1211
@zariiii9003 thanks, i didn't look on the latest version. I still think there should be a better way to get the Tx error on send function and not throw the receive function.

[2022-06-07 15:20] melav99 commented on #1325
You are correct! Sorry about that, thank you!

[2022-06-07 15:20] #1325 closed

[2022-06-08 02:17] XXIN0 commented on #1211
@geynis Thanks,I'll try your  suggestion.

[2022-06-08 07:11] christiansandberg commented on #1324
The issue is that your script exits immediately. Add a time.sleep() or wait for some input from the user.

[2022-06-08 20:04] j-c-cook commented on #1314
I think it is going to depend on your `bitrate`. I believe in the past I found that the minimum amount of time I could wait before sending another message on the bus was defined by `t_min` as shown below.
[code]

[2022-06-08 21:09] j-c-cook opened #1329 "Harden `can.logger` functionality to write last received message to file without prod"
### Describe the bug

The current implementation of `can.logger` rolling logger functions such that the most recent message sent on the bus is held in memory and not written to the file unless there is a `KeyboardInterrupt` or another message appears on the bus. What if power is killed without notice and a shutdown procedure for the logger is not able to occur? I have simulated that by using the `

[2022-06-08 23:50] zariiii9003 commented on #1329
The rolling logger delegates the file access to the actual logformat implementations. Most logformats do write immediately to file. Only the BLF-Writer uses a buffer.

But python itself uses line buffering for text files. The docs say

This comes with a performance penalty obviously and i do not see the use case for the majority of users.

[2022-06-09 01:15] j-c-cook commented on #1329
Good information. Is it something that could be made optional?

Could the buffer size for the BLF-Writer be opened up to the API via **kwargs? I see that there is a `self._buffer` and `self._buffer_size`, but am not clearly seeing the definitions. Surely the `_buffer_size` isn't hard coded to 0?
https://github.com/hardbyte/python-can/blob/0c4dee01a00a9bdd82b71071627b8f2fd2fc929d/can/io/blf.py#L401

[2022-06-09 15:17] j-c-cook commented on #1329
The premises here is remote CAN logging. Something that commercial companies may charge an arm and a leg for.

I don't know that it would be worth the effort to open the `max_container_size` for the BLF-Writer to the API, given that a max file size can be defined. It appears that if the max file size is small, then the `max_container_size` is not the defining factor for when the buffer is dumped t

[2022-06-09 17:01] j-c-cook commented on #1329
It appears to me that the only way to turn off the buffer is if a binary file is being written (`mode='w+b'` or `mode='a+b'`). https://docs.python.org/3.7/library/functions.html#open

[2022-06-09 18:06] j-c-cook commented on #1329
I'm going to close this and open up a new issue with a proposal for the `.txt` writer to be enhanced to write binary data.

[2022-06-09 18:06] #1329 closed

[2022-06-10 07:28] #1326 closed

[2022-06-10 14:00] j-c-cook commented on #1326
@zariiii9003 Given the merge of the new feature provided in #1327, could you please consider the next release to be `v4.1.0` rather than `v4.0.1`? If we go by https://semver.org/ for release versions, then the next release would now be considered a MINOR release.

I think the easiest way to do this would be to relabel [Milestone 4.1.0](https://github.com/hardbyte/python-can/milestone/10) to `Miles

[2022-06-10 14:21] zariiii9003 commented on #1326
I don't mind, but i cannot create releases anyway. I will ask @hardbyte once the other bugfixes are reviewed and merged.

[2022-06-10 14:35] zariiii9003 commented on #1319
I assume this is resolved. Feel free to reopen if you have further questions.

[2022-06-10 14:35] #1319 closed

[2022-06-10 14:36] zariiii9003 commented on #1315
Would you like to create a PR?

[2022-06-10 14:41] jp213 opened #1330 "Could not import vxlapi: Could not find vxlapi64"
Hello, I seem to be having an issue when I try to run a device simulation I made. I installed the drivers for python-can and ensured that vxlapi.py is located in the same library as canlib.py. The error is listed below. Thank you!

Could not import vxlapi: Could not find module 'vxlapi64' (or one of its dependencies). Try using the full path with constructor syntax.
Traceback (most recent call las

[2022-06-10 14:51] zariiii9003 commented on #1330
There's a template for bug reports. Please take a look and update your post.

[2022-06-10 14:53] #1330 closed

[2022-06-14 02:09] sortkim opened #1331 "CAN-FD initialization error on PEAK device"
### Describe the bug
CAN-FD initialization error on PEAK device (PCANUSB-FD)
vector can works well with CAN-FD.

### To Reproduce
    h_can = can.interface.Bus(bustype='pcan', channel='PCAN_USBBUS1', bitrate=500000, fd=True) # fail

### Expected behavior
return bus object address

### Additional context

OS and version: Windows10
Python version : 3.9.12
python-can version : 4.0.0
python-can interf

[2022-06-14 13:00] zariiii9003 commented on #1331
Traceback?

[2022-06-15 07:16] xeno27 commented on #1321
Hi @hartkopp ,

I think this will be the best way.

@jayceslesar i think an own lib make sense.

[2022-06-15 07:16] #1321 closed

[2022-06-16 21:03] brotatos commented on #314
Has this fix been pushed to pypi? I am getting a similar error with my pip installation.

[2022-06-16 21:11] zariiii9003 commented on #314
@brotatos Yes, this one was fixed. Please use the bug report template to create a new issue if you are using python-can 4.0.0.

[2022-06-17 07:50] skipper85 commented on #1331
Hi there,

I also use PEAK system IPEH-004002 USBCAN converter with CAN FD support in combination with python-can, but also get error during initialization.

### Context
OS and version: Windows 10
Python version: 3.9.13
python-can version: 4.0.0
python-can interface/s (if applicable): PCAN-USB FD

### Code
`bus = can.interface.Bus(bustype='pcan', channel='PCAN_USBBUS1', bitrate=500000, fd=True)`

[2022-06-17 08:43] skipper85 commented on #1331
Hi there,

Apparently the setup for the CAN-FD is quite different from normal CAN.
When using the following initialization

[code]

the device works fine.
I used [Kvaser calculator](https://www.kvaser.com/support/calculators/can-fd-bit-timing-calculator/) to calculate all the CAN-FD settings.

[2022-06-17 17:41] sresam89 opened #1332 "Ethernet support for vector xldriver"
### Is your feature request related to a problem? **----> _NO_**

### Describe the solution you'd like

Support for Ethernet commands for vector devices as per section-6 of XLDriver manual
This section describes how to send and receive measurement data over the ethernet to supported devices

### Describe alternatives you've considered  **---> _No Alternates available_**

### Additional context

[2022-06-17 17:55] zariiii9003 commented on #1332
This is a **CAN** library. I'd suggest to create a new python package for that.

[2022-06-17 17:55] #1332 closed

[2022-06-20 08:53] sortkim commented on #1331
Thank you everyone.

It works fine now.
I took your advice into account.

[2022-06-21 09:35] MartinALL91 opened #1334 "Error importing IXXATBus on Linux"
### Describe the bug

Error when importing IXXATBus.

### Traceback

[code]

### Additional context

OS and version: Ubuntu 20.04
Python version: 3.8
python-can version: 3.3.4
python-can interface/s (if applicable):

[2022-06-21 15:24] zariiii9003 commented on #1334
The [docs ](https://python-can.readthedocs.io/en/master/interfaces/ixxat.html)say:

[2022-06-22 14:17] Reowald opened #1336 "Asyncio implementation - listeners and notifiers"
This is really more of a general question than a bug or feature request apologies if it is annoying to post this general enquiry here I am happy to delete.

I am using a cm4 to bring in CAN messages and then make them available to a PLC using umodbus. I became interested in the asyncio capabilities. I did some general asyncio research and also looked in to the python-can implementation but due to

[2022-06-22 14:54] zariiii9003 commented on #1336
Here is a simple example for the notifier:

[code]

[2022-06-22 14:59] Reowald commented on #1336
@zariiii9003 thanks for this yes that does help I will try and implement this and will feedback on how I get on.

[2022-06-23 11:46] MartinALL91 commented on #1334
Ok, thanks. I'll close the issue.

[2022-06-23 11:46] #1334 closed

[2022-06-23 16:05] jwdsoft opened #1337 "Adding changed frames highlight color in can_viewer"
Thanks for this great library which I really like
I hope that someone can add this feature it will be really helpfull specially in reverse engineering
The feature is to highlight the changed canbus bytes in the frames in canviewer wherever there is a change

[2022-06-24 09:03] matze4949 commented on #1307
After a few weeks of testing i found out that in certain cases the suggested method takes a long time to clear the rx buffer.
Is there a way to implement a command like flush_tx_buffer?

[2022-06-27 05:43] MattWoodhead commented on #1337
Is it additional functionality over the byte highlighting added in version 4 that you would like? (run the canviewer script, then press the h key once monitoring a bus)

![image](https://github.com/hardbyte/python-can/blob/develop/doc/images/viewer_changed_bytes_highlighting.png?raw=true)

[2022-06-27 12:31] zariiii9003 commented on #1307
You could try to implement it yourself. Look at the call signature of `xlFlushReceiveQueue` in your vxlapi.h file and add it to `xldriver.py` in this library. But i'm not sure whether that command actually works for all interfaces.

If it works, feel free to create a pull request.

[2022-06-27 17:51] monkeyfett8 opened #1338 "Unable to use two separate interface devices at the same time (ixxat)"
### Describe the bug
I am unable to utilize two separate ixxat devices at the same time via python-can.

I am trying to utilize two ixxat devices via python-can to verify throughput on a gateway module but I can't seem to get two interface devices to connect at the same time. One at a time I can get them to connect and send or receive but I get an error trying to use both. I can get both devices t

[2022-06-28 11:30] rumpelsepp opened #1340 "Include a py.typed file so mypy works for downstream packages"
@felixdivo We might need to include a [py.typed](https://www.python.org/dev/peps/pep-0561/#id13) file so mypy works for downstream packages. But i'm not sure if it causes problems since `can.interfaces` is not really well annotated.

_Originally posted by @zariiii9003 in https://github.com/hardbyte/python-can/issues/1227#issuecomment-1019561010_

[2022-06-30 12:11] Reowald commented on #1336
Just a little update - all appears to be working great I have had some issues with other parts of my code but I will repost when I have rocked on a little further.

[2022-07-05 05:08] MattWoodhead commented on #1272
https://github.com/conda-forge/python-can-feedstock/pull/11 is now merged and conda forge is at v4.0.0

[2022-07-05 05:08] #1272 closed

[2022-07-07 19:27] felixdivo commented on #1340
Okay, after adding the `py.typed` file, I do not get the following error any more:

[code]

[2022-07-08 11:52] #1337 closed

[2022-07-13 10:34] #1340 closed

[2022-07-20 13:27] Dafexx opened #1348 "PCAN API Not updatable"
### Describe the bug

For recent applications that need latest PCAN BASIC API, there is no way to update this single API and CAN communicaiton cannot be stablished.

### To Reproduce

Using a code requiring PCAN BASIC API 4.2.0

### Expected behavior

PCAN communication must occur without issues

### Additional context

OS and version: Windows 11
Python version: 3.10.5
python-can version: 4.0.0
py

[2022-07-20 18:28] #1348 closed

[2022-07-25 08:30] Reowald commented on #1336
Just a little update - still working on this but will provide a cutdown version once I have completed it.

[2022-07-25 11:33] melav99 commented on #1324
I added it to a loop with conditions and it works now. Thank you!

[2022-07-25 11:33] #1324 closed

[2022-07-26 07:28] Oemm868 opened #1350 "SLCAN does not support receive_own_messages"
I am trying to get my own send messages using the SLCAN Interface. Am I right, that the module does not support this feature?

[2022-07-29 04:10] jkljkjkjk opened #1352 "USB2CAN"
Hi there

I am new here and I am wondering if the lib supports ZLG USBCAN series products?

I read the docs and did not see the examples of usb2can relevant, is it really supported, or any examples there?

thank you very much

[2022-07-29 14:17] skipper85 opened #1353 "Initialize Vector Dongle VN1610 with CAN-FD Fails"
### Describe the bug
When I try to initialize the can.bus() for the VN1610 vector dongle with the fd parameter I get the following error.
`
can.interfaces.vector.exceptions.VectorInitializationError: xlCanFdSetConfiguration failed (XL_ERR_WRONG_PARAMETER) [Error Code 101]
`

Without the fd parameters the bus initialize, but for normal CAN.

### To Reproduce
Initialize the bus with the fd parameter

[2022-07-31 09:40] jakka351 opened #1354 "Logging Lib Import"
### Describe the bug
AttributeError: module 'logging' has no attribute 'getLogger'

### To Reproduce

I am unable to use the python-can library because of this issue - I have checked that it is not my python installation that has the issue as I swapped from Linux to Windows and have the same error with different python  installations across any code that uses the logging library So this might not

[2022-07-31 10:11] zariiii9003 commented on #1354
`logging.getLogger' is a [builtin function](https://docs.python.org/3/library/logging.html#logging.getLogger).
There is another `logging` module or variable in your namespace, rename or remove it.

[2022-07-31 10:19] zariiii9003 commented on #1353
I'm not sure about this but your arbitration sync jump width seems implausible to me. It cannot be greater than tseg1_abr or tseg2_abr.

[2022-08-03 11:00] xinkunlong opened #1355 "ERROR: Address family not supported by protocol in socket can"
### Describe the bug
[code]
python information
[code]

[2022-08-03 15:02] AbdulkadirEroglu-81 opened #1356 "Timestamp error on python"
### Describe the bug

When sending data i am getting struct error.
İt seems like when packing timestamp there is a multiplication step and that gets data to over limit.

### To Reproduce

send some data with time stamp field filled with python time modules time.time() function.

### Expected behavior

data to be send through serial interface

### Additional context

OS and version: Ubuntu 22.04 -

[2022-08-04 03:03] #1355 closed

[2022-08-04 08:47] Tian-Jionglu commented on #1315
Thanks to @tienlocnguyen , this solution solved my issue.
I created a PR #1357  to fix this issue. Sightly difference, since `can_logconvert` should also be fixed.

[2022-08-04 20:31] j-c-cook opened #1359 "Sized Rotating Logger bug for BLFWriter file_size (-s) argument"
### Describe the bug

The `BaseRotatingLogger` performs a check to see if it [should_rollover(msg)](https://github.com/hardbyte/python-can/blob/b9d9d01c1c87bc2a4d08b709a0763cdc850f8c35/can/io/logger.py#L204), which is an abstract method that invokes the `SizedRotatingLogger` function [should_rollover(msg)](https://github.com/hardbyte/python-can/blob/b9d9d01c1c87bc2a4d08b709a0763cdc850f8c35/can/io/

[2022-08-06 14:07] j-c-cook commented on #1356
What is the script `tests/SanalCan.py`? Could you please upload a minimal script that triggers the bug you are describing? I am unable to follow your "To Reproduce" section well enough to reproduce your script.

[2022-08-06 14:09] j-c-cook commented on #1354
@jakka351 Were you able to resolve this issue?

[2022-08-06 14:13] j-c-cook commented on #1353
@skipper85 Were you able to get this functioning based on the comment from @zariiii9003? Is it true that `sjw_abr` must be less than `tseg1_abr` and `tsg2_abr`?

[2022-08-06 14:20] j-c-cook commented on #1352
Have you ordered the product and tested it? [SocketCan](https://docs.kernel.org/networking/can.html) in the Linux kernel is network based, so the first step after plugging in the device would be to [bring up the CAN interface](https://elinux.org/Bringing_CAN_interface_up). Then initialize your `Bus` with the "socketcan" `channel`.

I use a PCAN in Linux in a similar fashion described above. No add

[2022-08-06 14:24] j-c-cook commented on #1350
Could you provide more information? What object are you referring to? Do you have a minimal script that I could get started with?

[2022-08-06 14:34] j-c-cook commented on #1338
You have defined `sendBus` and `recvBus` in the same script, but have you tried to define two separate scripts? Perhaps you could setup a continuous while loop in a `recvBus.py` script that looks like the following:
https://github.com/j-c-cook/python-can/blob/b9d9d01c1c87bc2a4d08b709a0763cdc850f8c35/can/logger.py#L224-L233

Then you could send your message from another script, `sendBus.py` and see

[2022-08-06 14:39] j-c-cook commented on #1336
@Reowald Have you resolved all of your outstanding questions about `asyncio` listeners and notifiers, or could their still be future questions regarding the topic?

[2022-08-06 14:46] j-c-cook commented on #1331
I have a [PCAN-USB](https://www.peak-system.com/PCAN-USB.199.0.html?&L=1), but not the [PCAN-USB FD](https://www.peak-system.com/PCAN-USB-FD.365.0.html?&L=1), so I don't think I have the right hardware to help with this (if I'm wrong, let me know). Unfortunately, the FD device is out of stock. I'll ask around and see if I can locate a PEAK FD device to borrow for long enough to resolve this issue.

[2022-08-06 18:00] zariiii9003 commented on #1359
I set the size to 1048576 bytes and the resulting file size is pretty close to that:
![image](https://user-images.githubusercontent.com/52598363/183260215-b7756314-8ccd-4b73-8399-130f803b26b0.png)
1MiB is already pretty tiny, why do you need 150byte sized blf files?

I suspect the SizedRotatingLogger might be the wrong tool for the job, maybe you need a logger which depends on time, not size?

[2022-08-06 18:42] j-c-cook commented on #1359
I want to be careful not to conflate two issues here. I posted a detailed description of a bug (see above). I put in print statements in commit SHA https://github.com/j-c-cook/python-can/commit/977e1e0c6dc85b709eb16b6fea9a719144440603 to enable the recreation of the bug I was highlighting. When I checkout a branch at that commit, `git checkout -b branch 977e1e0c6dc85b709eb16b6fea9a719144440603`, a

[2022-08-06 20:36] zariiii9003 commented on #1359
I understand what you mean. The BLF Writer compresses and writes data in 128KiB chunks. But the SizedRotatingLogger cannot and was never intended to ensure file sizes within a few bytes. The SizedRotatingLoggers primary use case is avoiding huge files. 128KiB are irrelevant when dealing with gigabytes of data.
I'd like to avoid adding unnecessary complexity to the logging API which benefits 0.0000

[2022-08-06 21:26] #1280 closed

[2022-08-06 23:15] j-c-cook commented on #1359
Can you think of a good place to communicate that information about how the BLF Writer rolling logger is not adjustable, but rather has a _reasonable_ nonadjustable (from the API) maximum buffer size?

Your comment about writing files within a few bytes applies to method (2) in my initial [pull request comment](https://github.com/hardbyte/python-can/pull/1360#issue-1329149291). I was unsure how to

[2022-08-07 17:57] j-c-cook commented on #1359
@zariiii9003 When you get the chance, could you give me some direction on how you would like for me to finish this up?

[2022-08-07 18:28] j-c-cook opened #1364 "TimedRotatingLogger"
### Is your feature request related to a problem? Please describe.

The existing `SizedRotatingLogger` can be used to frequently (or infrequently) write CAN traces to a file by specifying a maximum file size with the `-s` option. The frequency can become periodic if the number of CAN traces being sent on the bus are _nearly_ consistent or the dominant message(s) are periodic. My specific applicati

[2022-08-07 22:09] zariiii9003 commented on #1364
If we implement something like this, the API should be close to the builtin [TimedRotatingFileHandler](https://docs.python.org/3/library/logging.handlers.html#timedrotatingfilehandler). But that looks super complicated to be honest.

[2022-08-08 05:40] jkljkjkjk commented on #1352
Yes, I've ordered the product, but still on the way. I understand that SocketCan is available on Linux and it is network based, however as far as I know, ZLG USBCAN does not support socketcan, that's why I was wondering if python-can supports ZLG usbcan series product, if it does, how to announce bus type as well as channel name.

PCAN no matter PCIE or USB types both support socketcan, I used PCI

[2022-08-08 06:50] AbdulkadirEroglu-AptiRobotics commented on #1356
It is a script that sends random data to can network.
Here is a full code to repreduce the error

`import can, time`
`bus = can.interface.Bus(interface="serial", channel="/dev/ttyS11")`
`msg = can.Message(time.time(), 1, False, data=[0x11, 0x22, 0x33], is_rx=False)`
`bus.send(msg)`

[2022-08-08 06:52] #1318 closed

[2022-08-08 14:27] CathySmith17 opened #1368 "Vector app name? Trying to read two channels with different baud rates"
Hi,

I am trying to read 2 channels at once with my Vector tool 1610.  The two channels have different baud rates.

I tried the following formatting but that throws an error
can_bus = can.interface.Bus(bustype='vector', app_name='CANalyzer', channel=[0, 1], bitrate=[500000, 125000])
=> TypeError: int() argument must be a string, a bytes-like object or a number, not 'set'

I also tried creating a c

[2022-08-08 15:48] skipper85 commented on #1353
Hi, currently the dongle is in use, I hope I can use it this week and do some debugging. When available I will try @zariiii9003 suggestion with the settings and in the meanwhile I will dig in about those settings.

[2022-08-08 16:11] zariiii9003 commented on #1368
app_name refers to the application name that you defined in Vector Hardware Config.

You cannot set multiple bitrates directly, the python-can API does not support that. But you can use the Vector XL API directly to set the channel bitrates:

[code]

[2022-08-08 16:29] zariiii9003 commented on #1356
You can't use the serial bus with `time.time()`. The documentation says [Usually s, ms or µs since start of the device](https://python-can.readthedocs.io/en/master/interfaces/serial.html#serial-frame-format)

[2022-08-09 00:49] zhoulian1992 commented on #1359
how to call "can.io.SizedRotatingLogger" fucntion? The following is my code.
''''
t = time.localtime()
t_str = time.strftime("%Y-%m-%d %H.%M.%S", t) + '_log'

BLF_filename = r'./log/' + t_str + '.blf'
BLF_logger = can.io.SizedRotatingLogger(base_filename=BLF_filename,max_bytes=5 * 1024)
BLF_logger.on_message_received(msg)
''''
When I run those codes,only one blf log file is built.The file name is

[2022-08-09 06:23] AbdulkadirEroglu-81 commented on #1356
Oh, I didn't see that. I am closing the issue.

[2022-08-09 06:23] #1356 closed

[2022-08-09 06:25] zariiii9003 commented on #1359
Hello @zhoulian1992, that's a bug that was fixed in #1317. It's only available on the develop branch so far, but i hope we get a new release out soon.

[2022-08-09 12:28] j-c-cook commented on #1359
@zhoulian1992 Use `pip install git+https://github.com/hardbyte/python-can@develop` to install `python-can` with the most recent updates.

@zariiii9003 A way for us to push out hot fix releases quicker could be to create a `4.1.x` branch upon release. We continue to work on `develop` and `cherry-pick` bug fixes into the `4.1.x` branch. We could choose to support `4.1.x` until the next major release

[2022-08-09 14:45] CathySmith17 commented on #1368
Thanks for replying, understand the app part now!

Unfortunately using the Vector API doesn't work either:

Either it runs through but doesnt actually read any bus at all or it gives one of two errors

in check_status_initialization
    result, xlGetErrorString(result).decode(), function.__name__
can.interfaces.vector.exceptions.VectorInitializationError: xlCanSetChannelBitrate failed (XL_ERR_INVA

[2022-08-09 16:10] zariiii9003 commented on #1368
You need init access, so you need to be the first application on the bus. Otherwise you don't have the right to change the bus settings. Look for the `Init` flag into your Vector HW config:
![image](https://user-images.githubusercontent.com/52598363/183702649-1a971eb6-dda5-4bfa-b0eb-8265a185916c.png)

[2022-08-10 06:34] #1359 closed

[2022-08-10 10:46] skipper85 commented on #1353
Hi,

I tried again with the vector dongle VN1610
When I use the following code:
[code]
I still receive the following exception:
`
can.interfaces.vector.exceptions.VectorInitializationError: xlCanFdSetConfiguration failed (XL_ERR_WRONG_PARAMETER) [Error Code 101]
`

[2022-08-10 10:59] zariiii9003 commented on #1353
You need to set the correct bit timings for your bus. We cannot tell you how your bus is configured. If you initialize the bus with valid parameters then it works fine.

[code]

This should should initialize the bus with no exception. But you will get error messages if the settings are wrong for your application.

[2022-08-10 11:44] skipper85 commented on #1353
Hi, thanks for your help, it does work now, also with my own settings I recalculated for the bit timings.
[code]

[2022-08-11 09:11] Reowald commented on #1336
Thanks for prompting me to finish this enquiry. My follow on question might be more asyncio related than python-can.

I am trying to pass variables in and out of the main even loop but I do not seem to be having any luck. See an example below.

`import asyncio
import can
import flag_example
import os

data_store = []

os.system(f'sudo ip link set can0 type can bitrate 500000')
os.system(f'sudo ifc

[2022-08-11 10:51] ferranmercader opened #1370 "Detect connected interfaces in PC"
I would like to have a function that detects if a single or multiple interfaces (and multiple brands) are connected to the computer and returns all possible info. In this way we would be able to perform a HW check for an automated environment.

I did a research but did not find any python library that performs this for common CAN interfaces, neither here in python-can.
I have started a python modu

[2022-08-11 14:29] CathySmith17 commented on #1368
Hey zariiii9003,

I wanted to thank you very much taking the time to help me and pointing me in the right direction. Unfortunately the command still doesn't work. The status line you marked in the screenshot never shows up when using xlCanSetChannelBitrate. It does however when using: can_bus2 = can.interface.Bus(bustype='vector', app_name='CANalyzer', channel=[1], bitrate=125000)

For anybody hav

[2022-08-11 14:36] pierreluctg commented on #1370
Please see https://python-can.readthedocs.io/en/master/api.html#can.detect_available_configs

[2022-08-11 22:00] #1315 closed

[2022-08-12 08:32] zixuan-su opened #1372 "The actual playback time is much larger than the timestamp"
### Describe the bug

I have a 120 s long message ，then  I find  that It takes me 324.2 s to play. The Timestamp is still about 120 s, but  the difference from the actual playback time is nearly 2.7 times .    The file is https://github.com/hardbyte/python-can/blob/develop/can/player.py
![image](https://user-images.githubusercontent.com/64144933/184317440-9687abd2-70f2-46ba-8234-cc6e443165cf.png)

[2022-08-12 11:03] zariiii9003 commented on #1372
Could you replace this
https://github.com/hardbyte/python-can/blob/3a7c80eb24d253b092b038f45be9d36942c2ab2d/can/io/player.py#L154

with this

[code]

and check if it gets better? You have a very high message rate, i assume the `sleep()` call slows you down too much.

[2022-08-12 17:43] zariiii9003 commented on #1219
@hardbyte a little reminder: the socketcan tests are still not run

[2022-08-14 13:56] zariiii9003 commented on #1372
try this branch please: https://github.com/zariiii9003/python-can/tree/message_sync

[2022-08-15 03:51] zixuan-su commented on #1372
I replace
"with _create_bus(results, **additional_config) as bus:
        with LogReader(results.infile, **additional_config) as reader:

            in_sync = MessageSync(
                cast(Iterable[Message], reader),
                timestamps=results.timestamps,
                gap=results.gap,
                skip=results.skip,
            )
"
with
"Msg_List = list(MessageSync(results.infil

[2022-08-15 06:11] zixuan-su commented on #1372
I follow your suggestion,that`s cool  !!!
![image](https://user-images.githubusercontent.com/64144933/184585219-d6b22e1f-4891-4363-bb75-0c7188f194bb.png)

[2022-08-15 06:31] zariiii9003 commented on #1372
Thank you for your feedback, then i'll merge it into develop.

[2022-08-15 06:33] #1372 closed

[2022-08-16 09:45] #1354 closed, assigned to nobody

[2022-08-16 12:11] umlaeute opened #1376 "big endian support broken(?)"
### Describe the bug

it seems that `python-can` fails the test-suite on big-endian machines.

See https://ci.debian.net/data/autopkgtest/testing/s390x/p/python-can/24833388/log.gz (see below for an excerpt)

### To Reproduce

run the test-suite on a big-endian architecture.

### Expected behavior
big-endian is supported.

### Additional context

|    |    |
|---|---|
| OS and version | Debian/GNU

[2022-08-16 14:01] zariiii9003 commented on #1376
@hartkopp can you take a look?

Is the functionality broken or is it just a brittle test design due to the expected result here?
https://github.com/hardbyte/python-can/blob/2da28c1a1c87776618a60218b0b97800cf2deb34/test/test_socketcan.py#L279

[2022-08-16 19:18] jonvolk opened #1377 "isCAN channel working example?"
### Describe the bug

No combination of inputs for Channel works to initiate an isCAN interface

### To Reproduce

Just looking to make a connection. The required input to Channel being a Union of a String and Int with no further information is challenging. I have tried using the USB port as dev/TTYUSBx and the device number from the dmesg output, but nothing seems to be compatible with the python

[2022-08-17 06:54] hartkopp commented on #1376
Sure!

Just take the two examples

1. `opcode=CAN_BCM_TX_DELETE` where `opcode` is an uint32 value and CAN_BCM_TX_DELETE = 2
2. `can_id=0x401` where `can_id` is an uint32 value

[code]

The results are checked with a byte field ("expected_result"):
1. `opcode=CAN_BCM_TX_DELETE` results in b"`\x02\x00\x00\x00`\x00\x00\x00\x00" (first line)
2. `can_id=0x401` results in b"`\x01\x04\x00\x00`\x01\x00\x

[2022-08-17 07:20] umlaeute commented on #1376
something like this?
[code]

[2022-08-17 08:31] zariiii9003 commented on #1376
I'd prefer to make the expected result dependent on the system byte order:

[code]

[2022-08-17 10:15] umlaeute commented on #1376
well, that was the "quick fix".

a somewhat nicer fix would be to convert the buffer to native byte ordering first:

[code]

[2022-08-17 10:21] Reowald commented on #1336
@j-c-cook I have gone away to read the docsand am making progress I think lot of my issues were asyncio (and my understanding of this) rather than specially python-can, however I would like to leave this open a week longer as I may come back to this with with some questions.

[2022-08-17 10:37] umlaeute commented on #1376
and the same should probably be applied to `test_build_bcm_header_sizeof_long_4_alignof_long_4`.

so it's probably worth using a helper-function:

[code]

and then:
[code]

[2022-08-17 20:13] hexsecs commented on #1267
@simonkerscher there are some pretty good tools out there for this. Some of them are listed here...
https://github.com/iDoka/awesome-canbus#j1939-tools

[2022-08-18 21:36] hardbyte commented on #1267
`python-can` actually implemented J1939 in the past but we deliberately made the decision to focus on raw CAN and leave higher level protocols for libraries and applications (hoping that they could utilize python-can). See https://github.com/hardbyte/python-can/issues/65

[2022-08-18 21:36] #1267 closed

[2022-08-22 22:03] j-c-cook opened #1378 "GzipFile BLFWriter negative seek error"
### Describe the bug

A [GZipFile](https://github.com/python/cpython/blob/b69ba3d7233013ea8cb95a3e30e2338f7f76b359/Lib/gzip.py#L121) object implementation in `cpython` is unable to be sought negatively while in write mode. This is problematic for the `BLFWriter`. Upon initialization, the `BLFWriter` writes a default header to the file, in which the start and stop timestamps are not set. Once the `

[2022-08-24 17:22] Sharmaranjan opened #1380 "Question"
Currently python-can extracts can data only from any blf, what it does to ethernet data?
And on what parameters it is skipping?

If possible can you suggest any way or library which can extract ethernet data as well

[2022-08-25 08:25] Hedda opened #1381 "Suggest engage the Home Assistant community to encourage an integration for python-can and other CAN Bus OBD-II/OBD2 adapters"
### Is your feature request related to a problem? Please describe.

This is a feature request of sort as a request to enable an integration for Home Assistant that would depend on python-can.

### Describe the solution you'd like

I would like to suggest and recommend that a python-can developer(s) try to engage with the Home Assistant community to encourage a Home Automation "integration" (also r

[2022-08-26 08:08] zariiii9003 commented on #1380
This library probably supports Ethernet data: https://bitbucket.org/tobylorenz/vector_blf/src/master/
But it's C++.

[2022-08-26 18:31] Sharmaranjan commented on #1380
I knew about this c++ Library, but anyway thanks.

I am looking for any python Library